<footer>
	<div class="contact">
		<span>CONTACT:</span>
		<br>
		<br>
		Adress: Uluwatu Avenue, Unit A, Jalan Uluwatu 2, Jimbaran 80361 ,Bali 
		<br>
		<b>Tel: </b>+1 (55) 5255 1287 <b>Tel: </b>+62 (899) 2000700 <b>Tel: </b>+62 (812) 3956877
		<br>
		<b>e-mail: </b>bali@lozano.com
	</div>
	<br>
	<p>&copy; Copyright - Lozano Travel Dise&ntilde;o y Desarrollo Denumeris Interactive</p>
</footer>