<footer>
	
	<p>&copy; Copyright - Lozano Travel Dise&ntilde;o y Desarrollo Denumeris Interactive</p>
	<p><a href="/bali/aviso" style="text-decoration: none !important" target="_blanck">Aviso de Privacidad</a></p>
	<div class="contact">
		<span>CONTACT:</span>
		<br>
		<br>
		Address: Uluwatu Avenue, Unit A, Jalan Uluwatu 2, Jimbaran 80361 ,Bali 
		<br>
		<b>Tel: </b>+1 (55) 5255 1287 <b>Tel: </b>+62 (899) 2000700 <b>Tel: </b>+62 (812) 3956877
		<br>
		<b>Tel</b> +62  817 LOZANO (569266)   Spanish Speaking Representative
		<br>
		<b>e-mail: </b>bali@lozano.com
	</div>
	<div class="clear"></div>
	

</footer>