<header>
	<section class="logo"></section>
	<section class="lang">
		<a href="{{#translate.call}}es{{/translate.call}}{{^translate.call}}{{#lan}}es{{/lan}}{{/translate.call}}" class="active">Español</a>
		<a href="{{#translate.call}}en{{/translate.call}}{{^translate.call}}{{#lan}}en{{/lan}}{{/translate.call}}" >Ingles</a>
	</section> 
	<section class="weather"> 
		{{current_time}} {{weather.temp}}ºC 
	</section>
	<nav>
		<ul>
			<li>
				<a href="{{#url}}/{{/url}}" {{#home}}class="active"{{/home}} >Inicio</a>
			</li>
			<li>
				<a href="{{#url}}/about-us{{/url}}" {{#about}}class="active"{{/about}}>Nosotros</a>
			</li>
			<li>
				<a href="{{#url}}/hotel-collection{{/url}}"{{#hotel}}class="active"{{/hotel}}>Hoteles</a>
			</li>
			<li>
				<a href="{{#url}}/experience{{/url}}" {{#experience}}class="active"{{/experience}}>Experiencias</a>
			</li>
			<li>
				<a href="{{#url}}/transfers{{/url}}" {{#transfers}}class="active"{{/transfers}} >Traslados</a>
			</li>
			<li>
				<a href="{{#url}}/contact-us{{/url}}" {{#contact}}class="active"{{/contact}}>Contáctanos</a>
			</li>
			
			<li>
				<a href="{{#url}}/transfer{{/url}}" {{#transfer}}class="active"{{/transfer}}>Agente de Viajes</a>
			</li>
			<li>
				{{#user.nombre}}
					<a href="/bali/logout">Cerrar Sesión</a>
				{{/user.nombre}}
			</li>
		</ul>
	</nav>
	<div class="clear"></div>
</header>