<header>
	<section class="logo"></section>
	<section class="lang">
		<a href="">Spanish</a>
		<a href="" class="active">English</a>
	</section>
	<section class="weather"> 
		{{current_time}} {{weather.temp}}ºC 
	</section>
	<nav>
		<ul>
			<li>
				<a href="/bali" {{#home}}class="active"{{/home}} >Home</a>
			</li>
			<li>
				<a href="/bali/about-us" {{#about}}class="active"{{/about}}>About us</a>
			</li>
			<li>
				<a href="/bali/hotel-collection"{{#hotel}}class="active"{{/hotel}}>Hotel collection</a>
			</li>
			<li>
				<a href="/bali/experience" {{#experience}}class="active"{{/experience}}>Experiences</a>
			</li>
			<li>
				<a href="/bali/transfer" {{#transfer}}class="active"{{/transfer}}>Transfer</a>
			</li>
			<li>
				<a href="/bali/contact-us" {{#contact}}class="active"{{/contact}}>Contact us</a>
			</li>
			{{#user}}
			<li>
				<a href="/bali/logout" class="alt">Logout</a>
			</li>
			{{/user}}
			{{^user}}
			<li>
				<a href="/bali/login" class="alt">Login</a>
			</li>
			{{/user}}
		</ul>
	</nav>
	<div class="clear"></div>
</header>