<header>
	<section class="logo"></section>
	<section class="lang">
		<a href="{{#translate.call}}es{{/translate.call}}{{^translate.call}}{{#lan}}es{{/lan}}{{/translate.call}}" >Spanish</a>
		<a href="{{#translate.call}}en{{/translate.call}}{{^translate.call}}{{#lan}}en{{/lan}}{{/translate.call}}" class="active" >English</a>
	</section>
	<section class="weather"> 
		{{current_time}} {{weather.temp}}ºC 
	</section>
	<nav>
		<ul>
			<li>
				<a href="{{#url}}/{{/url}}" {{#home }}class="active"{{/home}} >Home</a>
			</li>
			<li>
				<a href="{{#url}}/about-us{{/url}}" {{#about}}class="active"{{/about}}>About us</a>
			</li>
			<li>
				<a href="{{#url}}/hotel-collection{{/url}}"{{#hotel}}class="active"{{/hotel}}>Hotel collection</a>
			</li>
			<li>
				<a href="{{#url}}/experience{{/url}}" {{#experience}}class="active"{{/experience}}>Experiences</a>
			</li>
			<li>
				<a href="{{#url}}/contact-us{{/url}}" {{#contact}}class="active"{{/contact}}>Contact us</a>
			</li>

			<li>
				<a href="{{#url}}/transfer{{/url}}" {{#transfer}}class="active"{{/transfer}}>Travel Agent</a>
			</li>
			<li>
				{{#user.nombre}}
					<a href="/bali/logout">Logout</a>
				{{/user.nombre}}
				{{^user.nombre}}
					<a href="/bali/login">Login</a>
				{{/user.nombre}}
			</li>
		</ul>
	</nav>
	<div class="clear"></div>
</header>