<header>
	<a href="/bali/">
		<section class="logo"></section>
	</a>
	<section class="lang">
		<a href="{{#translate.call}}es{{/translate.call}}{{^translate.call}}{{#lan}}es{{/lan}}{{/translate.call}}" class="active"><img src="http://lozano.travel/wp-content/uploads/flags/mx.png"></a>
		<a href="{{#translate.call}}en{{/translate.call}}{{^translate.call}}{{#lan}}en{{/lan}}{{/translate.call}}" ><img src="http://lozano.travel/wp-content/uploads/flags/us.png"></a>
	</section> 
	<section class="weather"> 
		{{current_time}} {{weather.temp}}ºC 
		<div class="clear"></div>
		<a href="#" class="menu-bars" onclick="showMenu(event)"><i class="fa fa-bars" aria-hidden="true"></i></a>
	</section>
	<nav>
	<a href="#"  class="close-menu" onclick="hideMenu(event)"><i class="fa fa-times"></i></a>
		<ul>
			<li>
				<a href="{{#url}}/{{/url}}" {{#home}}class="active"{{/home}} >Inicio</a>
			</li>
			<li>
				<a href="{{#url}}/about-us{{/url}}" {{#about}}class="active"{{/about}}>Nosotros</a>
			</li>
			<li>
				<a href="{{#url}}/hotel-collection{{/url}}"{{#hotel}}class="active"{{/hotel}}>Hoteles</a>
			</li>
			<li>
				<a href="{{#url}}/experience{{/url}}" {{#experience}}class="active"{{/experience}}>Experiencias</a>
			</li>
			<li>
				<a href="{{#url}}/transfers{{/url}}" {{#transfers}}class="active"{{/transfers}} >Traslados</a>
			</li>
			<li>
				<a href="{{#url}}/contact-us{{/url}}" {{#contact}}class="active"{{/contact}}>Contáctanos</a>
			</li>
			
			<li>
				<a href="{{#url}}/transfer{{/url}}" {{#transfer}}class="active"{{/transfer}}>Agente de Viajes</a>
			</li>
			<li>
				{{#user.nombre}}
					<a href="/bali/logout" style="color:black">Cerrar Sesión</a>
				{{/user.nombre}}
			</li>
		</ul>
	</nav>
	<div class="clear"></div>
</header>
<script type="text/javascript">
	function hideMenu(event){
		event.preventDefault();
		jQuery("header nav").removeClass("show")
		jQuery("header .lang").removeClass("show")
	}
	function showMenu(event){
		event.preventDefault();
		jQuery("header nav").addClass("show")
		jQuery("header .lang").addClass("show")
	}
</script>