<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{$ title}}Lozano Bali{{/ title}}</title>
    </head>
    <body>
        <table id="tab"style="  height: auto; margin: 0 auto;font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; text-align:center;">
            <tbody>
                <tr style="height: 132px;">
                    <td><a href="http://lozano.travel/"><img src="http://lozanodev.denumeris.com/wp-content/uploads/2016/04/email-logo.png"></a></td>
                </tr>
                <tr style="height: 92px;">
                    <td style="width: auto;">
                        {{$ header}}{{/ header}}
                    </td>
                </tr>
                {{$ content}}{{/content}}
                <tr style="height: 52px;"><td><img style="width: 100%;" src="http://lozanodev.denumeris.com/wp-content/uploads/2016/04/email-footer.jpg"></td></tr>
            </tbody>
        </table>
    </body>
</html>
