{{% BLOCKS }}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {{$ title}}
            Lozano Bali
            {{/ title}}
        </title>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/css/kube.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        
    </head>
    <body>
    
    {{>header}}
    
    
    {{$ content}}
    {{/ content}}
    {{> footer}}
    <script src="/assets/js/jquery.min.js"></script>
    {{$ scripts}}d{{/ scripts}}
        
    </body>
</html>