{{% BLOCKS }}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {{$ title}}
            Lozano Bali
            {{/ title}}
        </title>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/bali/assets/css/kube.min.css">
        <link rel="stylesheet" type="text/css" href="/bali/assets/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
    </head>
    <body>
    {{> header_esp}}
    
    
    {{$ content}}
    {{/ content}}
    {{> footer_esp}}
    <script src="/bali/assets/js/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    {{$ scripts}}{{/ scripts}}
        
    </body>
</html>