{{% BLOCKS }}
	{{< mail}}
        {{$ header}}
            <img style="width: 100%;" src="http://lozano.travel/bali/assets/img/correo/Olvidate-tu-contrasena_eng.jpg">
        {{/ header}}
        {{$ content}}
        	<tr style="height: 124px;">
                <td>
                    <h1 style="color: #af841d;">Hola {{#data}}{{nombre}}{{/data}}</h1>
                    <p style="padding: 0 0 20px; margin: 0 50px; text-align: left; color: #707070; font-size: 13px; border-bottom: 0px solid #dadada;">
                        Por favor haga click en el siguiente link para cambiar tu contraseña:
                        <br>
                        <br>
                        {{#data}}{{message}}{{/data}}
                        <br>
                        <br>
                        Si tu no solicitaste esta operación, por favor ignora este mensaje. Gracias.
                        <br>
                        <br>
                    </p>
                </td>
            </tr>
        {{/ content}}
	{{/ mail}}
