{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
			Add Tour
		{{/ title}}
		{{$ content }}
			<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Experiencia</a></li>
			        <li class="active">Agregar Experiencia</li>
      			</ol>
    			<div class="row">
    				<div class="col-md-6 col-md-offset-3">
	        			<div class="panel">
	        				<div class="panel-heading">
	        					<h4 class="panel-title">Formulario Experiencia</h4>
	          					<p>Por favor, llene el siguiente formulario. Gracias.</p>
	        				</div>
		        			<div class="panel-body">
		        				<hr>			
		        				<form class="form-horizontal" action="/bali/panel/hotel/add" method="post" name="newHotel" enctype="multipart/form-data" class="form-horizontal">
		        					<div class="form-group">
		                    			<label class="col-sm-3 control-label">Título: <span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="titulo" class="form-control" placeholder="Escribe un titulo de experiencia." required />
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Thumbnail:</label>
		                    			<div class="col-sm-6">
		                     				<input type="file"name="thumbnail">
										    <span class="help-block">Imagen en tamaño THUMBNAIL (000px*000px)</span>
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Tipo:</label>
		                    			<div class="col-sm-6">
		                      				<select class="form-control" name="tipo">
			                            		<option value="RECOMMENDED TOURS">RECOMMENDED TOURS</option>
			                            		<option value="HALF DAY TOURS">HALF DAY TOURS</option>
			                            		<option value="FULL DAY TOURS">FULL DAY TOURS</option>
			                            	</select>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Duración:</label>
		                    			<div class="col-sm-6">
		                      				<select class="form-control" name="duracion">
			                            		<option value="HALF DAY">HALF DAY</option>
			                            		<option value="FULL DAY">FULL DAY</option>
			                            	</select>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Horas:</label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="horas" class="form-control" placeholder="Escribe un número de horas."/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Descripción:</label>
		                    			<div class="col-sm-6">
		                    				<textarea class="form-control" name="descripcion" placeholder="Escribe una descripción."></textarea>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Transfer:</label>
		                    			<div class="col-sm-6">
		                    				<textarea class="form-control" name="transfer" ></textarea>
		                   				</div>
		                  			</div>
		                  			<hr>
		                  			<div class="row">
	                    				<div class="col-sm-9 col-sm-offset-8">
					                      <button class="btn btn-success btn-quirk btn-wide mr5">Guardar</button>
	                    				</div>
	                  				</div>
		        				</form>
		        			</div>
	        			</div>
        			</div>
    			</div>	
    		</div>
		{{/ content}}
		{{$ footerscripts }}
		{{/ footerscripts }}
	{{/ quirk }}