{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Edit Experience
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Experiencia</a></li>
			        <li class="active">Editar Experiencia</li>
      			</ol>
      			{{# tour }}
	    			<div class="row">
	    				<div class="col-md-6 col-md-offset-3">
		        			<div class="panel">
		        				<div class="panel-heading">
		        					<h4 class="panel-title">Editar Experiencia</h4>
		        				</div>
			        			<div class="panel-body">
			        				<hr>			
			        				<form class="form-horizontal" action="/panel/tour/edit/{{id}}" method="post" name="newHotel" enctype="multipart/form-data" class="form-horizontal">
			        					<div class="form-group">
			                    			<label class="col-sm-3 control-label">Titulo: <span class="text-danger">*</span></label>
			                    			<div class="col-sm-6">
			                      				<input type="text" name="name" class="form-control" placeholder="Escribe un nombre de hotel." value="{{title}}" required />
			                    			</div>
			                  			</div>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Thumbnail:</label>
			                    			<div class="col-sm-6">
			                     				<input type="file"name="thumbnail">
												<span class="help-block">Imagen en tamaño THUMBNAIL (000px*000px)</span>
												<img src="/assets/img/experience/indo/{{thumbnail}}" height="250px" width="250px"/>
			                    			</div>
			                  			</div>
			                  			<div class="form-group">
    										<label class="control-label col-sm-3" >Tipo Actual:</label>
    										<div class="col-sm-6">
      											{{type}}
    										</div>
  										</div>
  										<div class="form-group">
    										<label class="control-label col-sm-3" for="titulo">Tipo : </label>
    										<div class="col-sm-6">
      											<select class="form-control" name="tipo">
					                            	<option value=""></option>
					                            	<option value="RECOMMENDED TOURS">RECOMMENDED TOURS</option>
					                            	<option value="HALF DAY TOURS">HALF DAY TOURS</option>
					                            	<option value="FULL DAY TOURS">FULL DAY TOURS</option>
					                            </select>
    										</div>
  										</div>
  										<div class="form-group">
    										<label class="control-label col-sm-3" for="titulo">Duración Actual:</label>
    										<div class="col-sm-6">
      											{{duration}}
    										</div>
  										</div>
  										<div class="form-group">
    										<label class="control-label col-sm-3" for="titulo">Duración:</label>
    										<div class="col-sm-6">
      											<select class="form-control" name="duracion">
					                            	<option value=""></option>
					                            	<option value="HALF DAY ">HALF DAY</option>
					                            	<option value="FULL DAY ">FULL DAY</option>
					                            </select>
    										</div>
  										</div>
					                    <div class="form-group">
    										<label class="control-label col-sm-3" for="titulo">Horas:</label>
    										<div class="col-sm-6">
      											<input type="number" class="form-control" placeholder="Horas" name="horas">
    										</div>
  										</div>
  										<div class="form-group">
    										<label class="control-label col-sm-3" for="titulo">Descripción:</label>
    										<div class="col-sm-6">
      											<textarea class="form-control" name="descripcion" style="height: auto;">{{description}}</textarea>
    										</div>
  										</div>
  										<div class="form-group">
    										<label class="control-label col-sm-3" for="titulo">Transfer:</label>
    										<div class="col-sm-6">
      											<textarea class="form-control" name="Transfer">{{transfer}}</textarea>
    										</div>
  										</div>
			                  			<div class="row">
		                    				<div class="col-sm-9 col-sm-offset-8">
						                      <button class="btn btn-success btn-quirk btn-wide mr5">Guardar</button>
		                    				</div>
		                  				</div>
		                  				<hr>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Nueva Imagén:</label>
			                    			<div class="col-sm-6">
			                    				<a href="/panel/tour/addImages" target="_blank"><button type="button" class="btn btn-success btn-quirk btn-wide mr5">Nueva Imagen</button></a>	
			                   				</div>
			                  			</div>
			                  			<hr>
			        				</form>
			        			</div>
		        			</div>
	        			</div>
	    			</div>
	    			<div class="row">
        				<div class="col-md-8 col-md-offset-2">
        					{{# images }}
        						<div class="col-md-4">
		          					<div class="panel">
		            					<div class="panel-heading">
		              						<h4 class="panel-title">Imagen {{url}}</h4>
		            					</div>
		            					<div class="panel-body">
		              						<img src="/assets/img/experience/{{url}}" class="img-rounded img-responsive" alt="Cinque Terre" width="150" height="50">
						                    <a href="/panel/tour/editImages/{{id}}"><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
						                    <a onclick=myFunction({{id}})><button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button></a>	
		            					</div>
		          					</div>
          						</div>
        					{{/ images }}
        					<script>
                                function myFunction(id) {
                                    if (confirm("Estas Seguro de Eliminar?") == true) {
                                        self.location = "/panel/tour/deleteImages/"+id; 
                                    } 
                                }
                            </script>
          				</div>
        			</div>
	    		{{/ tour }}	
	    	</div>
        {{/ content }}
		{{$ scripts }}
		{{/ scripts }}
	{{/ quirk }}