{{% BLOCKS }}
    {{< quirk }}
        {{$ title}}
            Show Tour
        {{/ title}}
        {{$ content }}
            <div class="contentpanel">
                <ol class="breadcrumb breadcrumb-quirk">
                    <li><a href=""><i class="fa fa-home mr5"></i>Tour</a></li>
                    <li class="active">Show Tour</li>
                </ol>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">Show Tour</h4>
                                <p>List of all tours registered.</p>
                            </div>
                            <div class="panel-body">
                                <hr>
                                <div class="table-responsive">
                                     <table id="dataTable1" class="table table-bordered table-striped-col">
                                        <thead>
                                            <tr>
                                              <th>Tour</th>
                                              <th>Description</th>
                                              <th>Spanish Description</th>
                                              <th>Edit</th>
                                              <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                             <th>Tour</th>
                                              <th>Description</th>
                                              <th>Spanish Description</th>
                                              <th>Edit</th>
                                              <th>Delete</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{# tour }}
                                                <tr>
                                                    <td>
                                                        {{title}}
                                                    </td>
                                                    <td>
                                                        {{description}}
                                                    </td>
                                                    <td>
                                                        {{description_esp}}
                                                    </td>
                                                    <td>
                                                        <a href="/bali/panel/tour/edit/{{id}}">
                                                            <button type="button" class="btn btn-primary">
                                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                                                            </button>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a onclick="myFunction({{id}})">
                                                            <button type="button" class="btn btn-danger">
                                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {{/ tour }}
                                        </tbody>
                                     </table>
                                </div>
                                <script>
                                    function myFunction(id) {
                                        if (confirm("Estas Seguro de Eliminar?") == true) {
                                            self.location = "/bali/panel/tour/delete/{{id}}";                          
                                        } 
                                    }
                                </script>       
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        {{/ content }}
        {{$ scripts }}
            <script src="/bali/assets/quirk/lib/datatables/jquery.dataTables.js"></script>
            <script src="/bali/assets/quirk/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
            <script src="/bali/assets/quirk/lib/select2/select2.js"></script>
            <script>
                $(document).ready(function() {
                    'use strict';
                    $('#dataTable1').DataTable();
                    var exRowTable = $('#exRowTable').DataTable({
                        responsive: true,
                        'fnDrawCallback': function(oSettings) {
                        $('#exRowTable_paginate ul').addClass('pagination-active-success');
                        },
                        'ajax': 'ajax/objects.txt',
                        'columns': [{
                            'class': 'details-control',
                            'orderable': false,
                            'data': null,
                            'defaultContent': ''
                            },
                            { 'data': 'name' },
                            { 'data': 'position' },
                            { 'data': 'office' },
                            { 'data': 'start_date'},
                            { 'data': 'salary' }
                        ],
                        'order': [[1, 'asc']]
                    });
                    // Add event listener for opening and closing details
                    $('#exRowTable tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = exRowTable.row( tr );
                        if ( row.child.isShown() ) {
                          // This row is already open - close it
                          row.child.hide();
                          tr.removeClass('shown');
                        } else {
                          // Open this row
                          row.child( format(row.data()) ).show();
                          tr.addClass('shown');
                        }
                    });

                    function format (d) {
                        // `d` is the original data object for the row
                        return '<h4>'+d.name+'<small>'+d.position+'</small></h4>'+
                        '<p class="nomargin">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>';
                    }

                    // Select2
                    $('select').select2({ minimumResultsForSearch: Infinity });

                });
            </script>
        {{/ scripts }}
    {{/ quirk }}