{{% BLOCKS }}
{{< admin }}
{{$ title}}
Mostrar Experiencias
{{/ title}}
{{$ content }}
<h2 class="sub-header">Mostrar Experiencias</h2>
<div class="table-responsive" style="overflow: scroll;">
    <table class="table table-striped isdatatable">
        <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        {{# tour }}
            <tr>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>
                    <a href="/panel/tour/edit/{{id}}">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                        </button>
                    </a>
                </td>
                <td>
                    <a href="/panel/tour/delete/{{id}}">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar
                        </button>
                    </a>
                </td>
            </tr>
        {{/ tour }}
        </tbody>
    </table>
</div>

{{/ content}}
{{$ footerscripts }}
{{/ footerscripts }}
{{/ admin }}