{{% BLOCKS }}
{{< panel}}
	{{$content}}
	<div class="holder-4">
		<p class="intro"><b>No hay resultados. </b><br>Lo sentimos, esta entrada no está disponible<<br><br></p>
	</div>
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}