{{% BLOCKS }}
{{< panel_esp}}
	{{$content}}
	<div class="holder">
		<script>
			var path = "";
			var href = window.location.pathname
			var s = href.split("/");
			for (var i=3;i<(s.length-1);i++) {
				path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
			}
			i=s.length-1;
			path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
			var url = "<p id=bread>"+path+"</p>";
			document.writeln(url);
	 	</script>
		<p class="intro"><b>Lozano Travel Bali</b> es la empresa de gestión de destinos de Lozano Travel – <br> Una virtuosa agencia de viajes  con sede en la Ciudad de México y con la casa matriz en Laredo , Texas <br> que ha estado operando desde hace 33 años.</p>
		<img src="/bali/assets/img/imagenes_pleca.jpg">
		<p class="detail">Nuestras especialidades son las lunas de miel, celebraciones y experiencias de todo el mundo.Es importante saber que vendemos como nuestros principales destinos: Asia, África, Oriente Medio, Europa, el Pacifico Sur y America del Sur. El destino principal es Asia y en Asia es Balí. Es por esto que decidimos abrir nuestra oficina en Balí para atender y cuidar a nuestros clientes que van a este destino. Nuestra principal clientela es de México, producimos alrededor de 400 lunas de miel por año y se ampliara el mercado de América Latina - Brasil, Chile, Argentina, Colombia y Perú, junto con el mercado internacional.
		</p>
		<p class="detail">Nuestro objetivo es tener una seleccion de hoteles en Balí con los que trabajaremos en conjunti y tendremos una oferta competitiva con una division de experiencias. Se centraran en las experiencias en lso campos de arroz, volcanes, playas escondidas y privadas, helicopteros y elefantes. Estas experiencias estan fuera de lo comun y duraran toda la vida y dejara en cada uno de nuestros clientes una experiencia de aprendizaje.
		</p>	

	</div>
		

	
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel_esp}}