{{% BLOCKS }}
{{< panel}}
	{{$content}}
	<div class="holder">
		<script>
			var path = "";
			var href = window.location.pathname
			var s = href.split("/");
			for (var i=3;i<(s.length-1);i++) {
				path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
			}
			i=s.length-1;
			path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
			var url = "<p id=bread>"+path+"</p>";
			document.writeln(url);
	 	</script>
		<p class="intro"><b>Lozano Travel Bali</b> is the Destination Management Company of Lozano Travel – <br> A Virtuoso Travel Agency based in Mexico City with headquarters in Laredo, Texas <br> that has been operating for the past 33 years.</p>
		<img src="/bali/assets/img/imagenes_pleca.jpg">
		<p class="detail">Our specialties are Honeymoons, Celebration and Around the World Experiences. Important to know that we sell, Asia, Africa, Middle East, Europe, South Pacific and South America as our main destinations. The principal Destination is Asia and within Asia it's Bali. This is why we have decided to open our office in Bali so that we can duly focus and take care of our clients going to the desination. Our main clientele is from Mexico, we produce around 400 honeymoons per year and will be expanding to the Latin American Market – Brazil, Chile, Argentina, Colombia and Peru together with the International Market.
		</p>
		<p class="detail">Our objective is to have a hand picked selection of hotels in Bali which we will work closely with and will have a competetive offer together with an experiential division focusing on bespoke experiences on the Rice Fields, Temples,  Volcanoes, Hidden & Private Beaches, Unique Locations,  Helicopter and Elephant experiences. These are out of the box experiences that will last for a life time and will leave in every client of ours a life learning experience.</p>	

	</div>
		

	
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}