{{% BLOCKS }}
{{< panel_esp}}
	{{$content}}
	<div class="holder">
		<script>
			var path = "";
			var href = window.location.pathname
			var s = href.split("/");
			for (var i=3;i<(s.length-1);i++) {
				path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
			}
			i=s.length-1;
			path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
			var url = "<p id=bread>"+path+"</p>";
			document.writeln(url);
	 	</script>
		<p class="intro"><b>Lozano Travel Bali</b> es el DMC (Destination Management Company) de Lozano Travel, una agencia de viajes Virtuoso, operando a lo largo de 33 años con sede en la Ciudad de México y su casa matriz en Laredo Texas.</p>
		<img src="/bali/assets/img/imagenes_pleca.jpg">
		<p class="detail">Nuestras especialidades son las lunas de miel, viajes de celebraciones y vueltas al mundo. Es importante saber que los principales destinos que vendemos son: Asia, África, Medio Oriente, Europa, Pacífico Sur y Sudamérica. Nuestro destino principal es Asia por esto decidimos abrir nuestra nueva oficina en Bali que es nuestro destino top, para atender y cuidar a nuestros clientes que visitan este maravilloso lugar. Nuestros clientes principales son de México; producimos alrededor de 400 lunas de miel al año y se ampliará al mercado de América Latina: Brasil, Chile, Argentina, Colombia y Perú, sin dejar a un lado el mercado internacional.</p>
		<p class="detail">Nuestro objetivo es tener una selección de hoteles en Bali, con los que trabajaremos en conjunto para tener una oferta competitiva con una gran variedad de experiencias. Éstas se centrarán en los campos de arroz, volcanes, templos,  playas escondidas y privadas, locaciones únicas, helicópteros y elefantes. Estas experiencias son fuera de lo común por lo que durarán para toda la vida y dejarán en cada uno de nuestros clientes una experiencia de aprendizaje única.</p>	

	</div>
		

	
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel_esp}}