{{% BLOCKS }}
{{< panel}}
	{{$content}}

	<div class="holder">
	 	<row>
				<column	cols="3">
					<p class="intro"><b>Change Password</b></p><br>
					<p class="detail"><b>Please fill the following form fields</b></p>
				</column>
				<column	cols="8">
					<div class="element">
						<form action="/bali/forgot/{{#forgot}}{{uid}}{{/forgot}}" method="post" class="forms">
							<section>
								<label>
									User: {{#user}}{{usuario}}{{/user}}
								</label>
							</section>
							<section>
								<label>
									Password
								</label>
								<input name="pass1" type="password" required="true"/>
							</section>
							<section>
								<label>
									Confirm Password
								</label>
								<input name="pass2" type="password" required="true"/>
							</section>
							<section>
								<input type="submit" class="primary"/>
							</section>
						</form>
					</div>
				</column>
			</row>
	</div>	

	
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}