{{% BLOCKS }}
{{< panel}}
	{{$header}}
	{{/header}}
	{{$content}}
		<div class="fit contact">
			<row>
				<column	cols="1">
				</column>
				<column	cols="4">
					<div class="element contact">
						<form action="" method="post" class="forms">
							<h1>Contact us</h1>
							<section>
								<label>
									Name
								</label>
								<input name="name" type="text" />
							</section>
							<section>
								<label>
									Email
								</label>
								<input name="email" type="text" />
							</section>
							<section>
								<label>
									Message
								</label>
								<textarea name="message"></textarea>
							</section>
							<section>
								<button type="primary">Send</button> 
							</section>
						</form>
					</div>
				</column>
				<column	cols="6">
					<p class="intro"><b>Lozano Travel Bali</b> is the Destination Management Company of Lozano Travel –  A Virtuoso Travel Agency based in<br> Mexico City with headquarters in Laredo, Texas <br> that has been operating for the past 33 years.</p>
				</column>
			</row>
		</div>
	{{/content}}
{{/ panel}}