{{% BLOCKS }}
{{< panel}}
	{{$content}}
	<div class="request-holder">
		<div class="request">
			<header>
				<h1>
					Profile
				</h1>
			</header>
			{{#user}}
		 		<form action="/bali/en/editProfile" method="post">
			 		<table>
			 			<tr>
							<td><b>User</b></td>
							<td>{{usuario}}</td>
						</tr>
						<tr>
							<td><b>Name</b></td>
							<td><input type="text" name="name" value="{{nombre}}"></td>
						</tr>
						<tr>
							<td><b>Last Name</b></td>
							<td><input type="text" name="app" value="{{papellido}}"></td>
						</tr>
						<tr>
							<td><b>Mother's Last Name</b></td>
							<td><input type="text" name="apm" value="{{mapellido}}"></td>
						</tr>
						<tr>
	            			<td><b>Phone:</b></td>
	            			<td><input type="text" name="tel" value="{{telefono}}"></td>
			            </tr>
			            <tr>
	            			<td><b>Iata:</b></td>
	            			<td><input type="text" name="iata" value="{{iata}}"></td>
			            </tr>
			            <tr>
	            			<td><b>Member:</b></td>
	            			<td><input type="text" name="member" value="{{miembros}}"></td>
			            </tr>
			            <tr>
	            			<td><b>Years in bussiness:</b></td>
	            			<td><input type="text" name="years" value="{{years}}"></td>
			            </tr>
			            <tr>
	            			<td><b>Password</b></td>
	            			<td><input type="password" name="pass"></td>
			            </tr>
			            <tr>
	            			<td><b>Confirm Password:</b></td>
	            			<td><input type="password" name="pass1"></td>
			            </tr>
					</table>
					<br>
					<center>
			 			<section>
			 				<input class="btn " type="button" class="btn" value="Save"> 
						</section>
			 		</center>
			 	</form>
			{{/user}}
		</div>
	</div>
	{{/content}}
	{{$ scripts}}
	{{/ scripts}}
{{/ panel}}