{{% BLOCKS }}
{{< panel_esp}}
	{{$content}}
	<img src="/bali/assets/img/img_experiencias.jpg">
	
	<div class="holder">
		<script>
					var path = "";
					var href = window.location.pathname
					var s = href.split("/");
					for (var i=3;i<(s.length-1);i++) {
						path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
					}
					i=s.length-1;
					path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
					var url = "<p id=bread>" + path+"</p>";
					document.writeln(url);
	 			</script>
		<div class="filter">
			<a href="javascript:void(0);" data-filter="*" class="actual"> ALL</a>
        	<a href="javascript:void(0);" data-filter=".HALF">HALF DAY EXPERIENCES</a> 
        	<a href="javascript:void(0);" data-filter=".RECOMMENDED">RECOMMENDED EXPERIENCES</a> 
        	<a href="javascript:void(0);" data-filter=".FULL">FULL DAY EXPERIENCES</a> 
		</div>
		<blocks cols="3" class="portfolioContenedor">
			{{#tours}}
				<div class="{{type.type}} tour inner ">
					<a href="/bali/es/experiencia/{{uri_es}}" style="text-decoration: none;">
						<h1>
							{{title}}
						</h1>
						<img src="/bali/assets/img/experience/indo/{{thumbnail}}">
						<h2>{{duration_esp}}</h2>
						<p>
							{{{description_esp}}}
						</p>
						<a href="/bali/es/experiencia/{{uri_es}}">Más [+]</a>
					</a>
				</div>
			{{/tours}}
		</blocks>
	</div>
	{{/content}}
	{{$ scripts}}
		<script>
			jQuery.noConflict();
			jQuery(window).load(function(){
				jQuery('.filter a').click(function(){
				jQuery('.filter .actual').removeClass('actual');
				jQuery(this).addClass('actual');
				
				var selector = jQuery(this).attr('data-filter');
				jQuery('.portfolioContenedor > div').fadeIn(1000);
				jQuery('.portfolioContenedor > div').not(selector).fadeOut(1000);
			});
		});
	 	</script>
    {{/ scripts}}
	
{{/ panel_esp}}