{{% BLOCKS }}
{{< panel}}
	{{$content}}
	
	
	<div class="holder">
		<row>
			<script>
					var path = "";
					var href = document.location.href;
					var s = href.split("/");
					for (var i=2;i<(s.length-1);i++) {
						path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
					}
					i=s.length-1;
					path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
					var url = "<p id=bread>" + path+"</p>";
					document.writeln(url);
	 		</script>
		</row>
		<row>
			<a href="/experience"  id="back" ><i class="fa fa-reply"></i> Back</a>
		</row>
		{{#tour}}
		<row>
			<column cols="7">
				<div class="pad">
					<h1>{{title}}</h1>
					<h2>{{duration}}</h2>
					<p>
						{{description}}
					</p>	
					<h2>TRANSFER PRICES PER PERSON IN USD</h2>
					{{&transfer}}
					<br>
					<row end>
						<column cols="6">
							<img src="/assets/img/transfers/galeria_trasnfers/automovil_02.jpg">
						</column>
						<column cols="6">
							<img src="/assets/img/transfers/galeria_trasnfers/automovil_01.jpg">
						</column>
					</row>
					<row>
						<column cols="6">
							<img src="/assets/img/transfers/galeria_trasnfers/camioneta_01.jpg">
						</column>
						<column cols="6">
							<img src="/assets/img/transfers/galeria_trasnfers/camioneta_02.jpg">
						</column>
					</row>
					<h2>Tour rates includes :</h2>
					<p class="smaller">
						Driver, Gasoline, Parking.
						<br>Spanish / English speaking guide
						<br>Insurance
						<br>Refreshing towel
						<br>Mineral water ( 2 btl ) and soft drink ( 6 cans ) each person
						<br>Wi-fi connection in the car
						<br>Donations, Entrance fee based on itinerary except Bali as You Pleased
					</p>
				</div>
			</column>
			<column cols="5">
				<div class="pad">
					<h2>Gallery</h2>
					<blocks cols="2">
						
						{{#images}}
							<div>
								<img onclick=" showImage(this) " src="/assets/img/experience/{{url}}">
							</div>
						{{/images}}
					</blocks>
					<h2>Route Map</h2>
				</div>
			</column>
		</row>
		{{/tour}}
	</div>
	<div class="expose" onclick="$(this).fadeOut()">
		<div class="bg" ></div>
		<img src="">
	</div>
	{{/content}}
	{{$ scripts}}
        <script type="text/javascript">
        	
			$(function(){
				jQuery.fn.center = function () {
					this.css("position","absolute");
				this.css("top", Math.max(0, ((jQuery(jQuery(this).parent()).height() - jQuery(this).outerHeight()) / 2) ) + "px");
			this.css("left", Math.max(0, ((jQuery(jQuery(this).parent()).width() - jQuery(this).outerWidth()) / 2) ) + "px");
			return this; };
			});

			function showImage( e ){
				var img = $(e);
				$(".expose").find("img").attr("src" , $(e).attr("src") );
				$(".expose").fadeIn();
				$(".expose img").center();
			}

        </script>
    {{/ scripts}}
{{/ panel}}