{{% BLOCKS }}
{{< panel}}
	{{$content}}
	<img src="/assets/img/img_experiencies.jpg">
	
	<div class="holder">
		<div class="filter">
			<a href="">ALL</a>
			<a href="">HALF DAY</a>
			<a href="">FULL DAY</a>
		</div>
		<blocks cols="3">
			{{#tours}}
				<div class="tour inner">
					<h1>
						{{title}}
					</h1>
					<img src="/assets/img/experience/indo/{{thumbnail}}">
					<h2>{{duration}}</h2>
					<p>
						{{description}}
					</p>
					<a href="/experience/{{id}}">More [+]</a>
				</div>
			{{/tours}}
			
		</blocks>
	</div>
	{{/content}}
{{/ panel}}