{{% BLOCKS }}
{{< panel_esp}}
	{{$content}}
	<img src="/bali/assets/img/img_forgot.jpg">
	<div class="holder reg">
	 	<row>
				<column	cols="3">	
				</column>
				<column	cols="8">
					<div class="element">
						<center><h1>¿Olvidaste tu contraseña?</h1></center><br>
						<form action="/bali/forgot" method="post" class="forms">
							<section>
								<label>
									Usuario
								</label>
								<input name="usuario" type="email" required="true"/>
							</section>
							<section>
								<input type="submit" class="primary" value="Enviar"/>
							</section>
						</form>
						<p class="detail"><b>No te preocupes, solo tienes que llenar el campo.</b></p>
					</div>
				</column>
				<column	cols="3">
				</column>
			</row>
	</div>	

	
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel_esp}}