{{% BLOCKS }}
{{< panel}}
	{{$content}}

	<div class="holder">
		<script>
			var path = "";
			var href = window.location.pathname
			var s = href.split("/");
			for (var i=2;i<(s.length-1);i++) {
				path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
			}
			i=s.length-1;
			path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
			var url = "<p id=bread>"+path+"</p>";
			document.writeln(url);
	 	</script>
	 	<row>
				<column	cols="3">
					<p class="intro"><b>Did you forget your password?</b></p><br>
					<p class="detail"><b>Do not worry, you only have to fill the following form fields</b></p>
				</column>
				<column	cols="8">
					<div class="element">
						<form action="/bali/forgot" method="post" class="forms">
							<section>
								<label>
									User
								</label>
								<input name="usuario" type="text" required/>
							</section>
							<section>
								<input type="submit" class="primary"/>
							</section>
						</form>
					</div>
				</column>
			</row>
	</div>	

	
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}