{{% BLOCKS }}
{{< panel}}
	{{$content}}
	<img src="/bali/assets/img/img_forgot.jpg">
	<div class="holder reg">
	 	<row>
				<column	cols="3">
				</column>
				<column	cols="6">
					<div class="element">
						<center><h1>Did you forget your password?</h1></center><br>
						<form action="/bali/forgot" method="post" class="forms">
							<section>
								<label>
									User
								</label>
								<input name="usuario" type="email" required="true"/>
							</section>
							<section>
								<input type="submit" class="primary"/>
							</section>
						</form>
						<p class="detail"><b>Do not worry, you only have to fill the following form field</b></p>
					</div>
				</column>
				<column	cols="3">
				</column>
			</row>
	</div>	

	
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}