{{% BLOCKS }}
{{< panel}}
	{{$content}}
		
	<section class="slider">
		<div class="slide">
			<img src="/assets/img/slide/bali_02.jpg">
		</div>
		<div class="slide">
			<img src="/assets/img/slide/bali_04.jpg">
		</div>
		<div class="slide">
			<img src="/assets/img/slide/bali_03.jpg">
		</div>
		<div class="slide">
			<img src="/assets/img/slide/bali_01.jpg">
		</div>
		
		<a href="javascript:void(0)" onclick="prev(true)" class="nav "> <span></span></a>
		<a href="javascript:void(0)" onclick="next(true)" class="nav next"><span></span></a>
	</section>
	
	<div class="holder">
		<blocks cols="3" > 
			<div class="tour">
				<h1>
					RECOMMENDED TOURS
				</h1>
				<img src="/assets/img/home/img_recommended_-tours.jpg">
				<h2>Bali as you pleace</h2>
				<h3>HALF DAY / 5 HOURS OR FULL DAY / 10 HOURS</h3>
				<p>
					In order to maximize your time and give you a full range of sightseeing option, we have created " Bali As You Please" option, that will cater your desires for the day.
				</p>
				<a href="/experience/1">More [+]</a>

			</div>
			<div class="tour">
				<h1>
					HALF DAY TOUR
				</h1>
				<img src="/assets/img/experience/indo/thumb_01.jpg">
				<h2>DENPASAR MUNICIPALITY</h2>
				<h3>HALF DAY / 5 HOURS</h3>
				<p>
					Orientation tour of Denpasar. You will visit Bajra Sandi Monument which is dedicated to the spirit of Balinese struggle, Kumbasari traditional market, also includes a visit to Bali Museum and proceed to the neighbor of Jagadnatha Temple, the biggest Temple in Denpasar.
				</p>
				<a href="/experience/2">More [+]</a>

			</div>
			<div class="tour">
				<h1>
					FULL DAY TOUR
				</h1>
				<img src="/assets/img/home/img_full_days_tours.jpg">
				<h2>BATUR VOLCANO HIGHLIGHT</h2>
				<h3>FULL DAY / 10 HOURS</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				</p>
				<a href="/experience/9">More [+]</a>

			</div>
		</blocks>
	</div>
	{{$ scripts}}
        <script type="text/javascript">
        	var sliderTimer = setInterval( next , 3000);
        	function next( clear ){
        		if( $(".slider .slide:visible").next().is(".slide") ){
        			$(".slider .slide:visible").fadeOut()	
        			$(".slider .slide:visible").next().fadeIn();
        		}else{
        			$(".slider .slide:visible").fadeOut()	
        			$(".slider .slide").first().fadeIn();
        		}
        		if( clear ){
        			clearInterval(sliderTimer);
        			sliderTimer = setInterval( next , 3000);
        		}
        	}

        	function prev( clear ){
        		if( $(".slider .slide:visible").prev().is(".slide") ){
        			$(".slider .slide:visible").fadeOut()	
        			$(".slider .slide:visible").prev().fadeIn();
        		}else{
        			$(".slider .slide:visible").fadeOut()	
        			$(".slider .slide").last().fadeIn();
        		}
        		if( clear ){
        			clearInterval(sliderTimer);
        			sliderTimer = setInterval( next , 3000);
        		}
        	}
        </script>
    {{/ scripts}}
	{{/content}}
{{/ panel}}