{{% BLOCKS }}
{{< panel}}

	{{$content}}
	<div class="holder hotel-inner ">
		<row>
			<script>
					var path = "";
					var href = window.location.pathname
					var s = href.split("/");
					for (var i=3;i<(s.length-1);i++) {
						path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
					}
					i=s.length-1;
					path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
					var url = "<p id=bread>" + path+"</p>";
					document.writeln(url);
	 			</script>
		</row>
		<row>
			<a href="/bali/en/hotel-collection"  id="back" ><i class="fa fa-reply"></i> Back</a>
		</row>
		<row>
			<column cols="8">
				<div class="pad">
					{{#hotel-data}}
						<h1>
							{{name}}
						</h1>

						<h2 style="width:510px">
							Description
						</h2>
						<p>
							{{&description}}
						</p>	

						<h2>
							Address
						</h2>
						<p>
							{{address}}
						</p>
						{{#website}}	
							<a href={{.}} target="_blank" style="text-decoration:none;"><h3>{{.}}</h3></a>
						{{/website}}
						{{#tel}}	
							<a href="tel:{{.}}" target="_blank" style="text-decoration:none;"><h3>{{.}}</h3></a>
						{{/tel}}
						{{#email}}	
							< href="mailto:{{.}}" target="_blank" style="text-decoration:none;"><h3>{{.}}</h3></a>
						{{/email}}
					{{/hotel-data}}
				</div>		
			</column>
			<column cols="4"  >
				<div class="pad" id="vid">
					<h2>Video</h2>
					<blocks cols="3">
						{{# videos }}
							<div class="himage">
								<img onclick="showVideo('{{path}}')" src="http://img.youtube.com/vi/{{videoID}}/default.jpg">
							</div>
						{{/ videos }}
					</blocks>
				</div>
				<div class="pad" id="im">
					<h2>Gallery</h2>
					<blocks cols="3">
						{{#images}}
							<div class="himage">
								<img onclick=" showImage(this) " src="/bali/assets/img/hotel/{{hotel_idhotel}}/{{path}}">
							</div>
						{{/images}}
					</blocks>
					{{&hotel-data.map}}
				</div>
			</column>
		</row>

	</div>
	<div class="expose">
	</div>

	
	{{/content}}
	{{$ scripts}}
        <script type="text/javascript">	
        	var actual="0";
        	var vid=new Array();
        	var img=new Array();
        	{{#videos}}vid.push('{{&path}}');{{/videos}}
        	{{#images}}img.push('{{path}}');{{/images}}
        	if(vid.length==0){
        		$("#vid").hide();
        	}
        	if(img.legth==0){
        		$("#im").hide();
        	}
			$(function(){
				jQuery.fn.center = function () {
					this.css("position","absolute");
					this.css("top", Math.max(0, ((jQuery(jQuery(this).parent()).height() - jQuery(this).outerHeight()) / 2) ) + "px");
					this.css("left", Math.max(0, ((jQuery(jQuery(this).parent()).width() - jQuery(this).outerWidth()) / 2) ) + "px");
				return this; };
			});
			function showImage(e){
				var img = e;
				$(".expose").append("<div class='bg' ></div>");
				$(".expose").append("<div class='cerrar' onclick='quitar(this)'></div>");
				$(".expose").append("<img src='' class='th'>");
				$(".expose").find("img").attr("src" , $(e).attr("src") );
				$(".expose .hr").center();
				$(".expose").append("<div class='previo' onclick='previo()'><img src='/bali/assets/img/izq.png'></div>");
				$(".expose").append("<div class='siguiente' onclick='siguiente()'><img src='/bali/assets/img/der.png'></div>");
				$(".expose").fadeIn();
				var image=new Array();
				{{#images}}
        			image.push("/bali/assets/img/hotel/{{hotel_idhotel}}/{{path}}");
        		{{/images}}
				actual=image.indexOf($(e).attr("src"));
			}
			function showVideo( e ){
				$(".expose").append("<div class='bg' ></div>");
				$(".expose").append("<div class='cerrar' onclick='quitar(this)'></div>");
				$(".expose").append(e);
				$(".expose iframe").center();
				$(".expose").append("<div class='previo' onclick='previov()'><img src='/bali/assets/img/izq.png'></div>");
				$(".expose").append("<div class='siguiente' onclick='siguientev()'><img src='/bali/assets/img/der.png'></div>");
				$(".expose").fadeIn();
				var video=new Array();
				{{#videos}}
					video.push('{{&path}}');
				{{/videos}}
				actual=video.indexOf(e);
			}
			function quitar(e){
				$(".expose").empty();
				$(".expose").fadeOut();
				actual=0;
			}
			function previo(){
				var image=new Array();
				{{#images}}
        			image.push("/bali/assets/img/hotel/{{hotel_idhotel}}/{{path}}");
        		{{/images}}
        		actual=actual==0?image.length-1:actual-1;
        		$(".th").attr("src",image[actual]);
			}
			function siguiente(){
				var image=new Array();
				{{#images}}
        			image.push("/bali/assets/img/hotel/{{hotel_idhotel}}/{{path}}");
        		{{/images}}
        		actual=actual==image.length-1?0:actual+1;
        		$(".th").attr("src",image[actual]);
        	}
        	function previov(){
        		$(".expose iframe").remove();
				var video=new Array();
				{{#videos}}
        			video.push('{{&path}}');
        		{{/videos}}
        		actual=actual==0?video.length-1:actual-1;
        		$(".expose").append(video[actual]);
        		$(".expose iframe").fadeIn().center();
			}
			function siguientev(){
				$(".expose iframe").remove();
				var video=new Array();
				{{#videos}}
        			video.push('{{&path}}');
        		{{/videos}}
        		actual=actual==video.length-1?0:actual+1;
        		$(".expose").append(video[actual]);
        		$(".expose iframe").center();
        	}
        	$(document).keydown(function(tecla){
        		if($(".th").length!=0){
        			switch (tecla.keyCode){
	        			case 37:
	        				previo();
	        			break;
	        			case 39:
	        				siguiente();
	        			break;
	        			case 27:
	        				$(".expose").empty();
							$(".expose").fadeOut();
							actual=0;
	        			break;
        			}
        		}
        		if($("iframe").length!=0){
        			switch (tecla.keyCode){
	        			case 37:
	        				previov();
	        			break;
	        			case 39:
	        				siguientev();
	        			break;
	        			case 27:
	        				$("iframe").remove();
	        				$(".expose").empty();
							$(".expose").fadeOut();
							actual=0;
	        			break;
        			}
        		}
            });
        </script>
    {{/ scripts}}
{{/ panel}}