{{% BLOCKS }}
{{< panel_esp}}
	{{$content}}
		<div class="request-holder">
			<div class="request">
				<header>
					<h1>
						Perfil
					</h1>	
				</header>
				{{#user}}
			 		<table >
			 			<tr>
							<td><b>Usuario</b></td>
							<td>{{usuario}}</td>
						</tr>
						<tr>
							<td><b>Nombre</b></td>
							<td>{{nombre}}</td>
						</tr>
						<tr>
							<td><b>Apellido Paterno</b></td>
							<td>{{papellido}}</td>
						</tr>
						<tr>
							<td><b>Apellido Materno</b></td>
							<td>{{mapellido}}</td>
						</tr>
						<tr>
	            			<td><b>Telefono:</b></td>
	            			<td>{{telefono}}</td>
			            </tr>
			            <tr>
	            			<td><b>Iata:</b></td>
	            			<td>{{iata}}</td>
			            </tr>
			            <tr>
	            			<td><b>Miembro:</b></td>
	            			<td>{{miembros}}</td>
			            </tr>
			            <tr>
	            			<td><b>Años en el Negocio:</b></td>
	            			<td>{{years}}</td>
			            </tr>
			            <tr>
	            			<td><b>Activo desde</b></td>
	            			<td>{{create_at.getTimeStamp | date.format}}</td>
			            </tr>
					</table>
					<br>
					<center>
			 			<button type="button" onclick="window.location.href='/bali/es/editProfile'">EDITAR</button>
			 		</center>
				{{/user}}
			</div>
		</div>
	{{/content}}
	{{$ scripts}}
	{{/ scripts}}
{{/ panel_esp}}