{{% BLOCKS }}
{{< panel}}
	{{$content}}

	<div class="holder reg">
		
			<center>
	 			<h2>Register</h2>
				<p>Please fill the following form fields. Thanks</p>
			</center>
		<row>
	 		<column cols="6">
	 			<div class="hide-mobile">
		 			<div style="min-height: 90px"></div>
		 			<img src="/bali/assets/img/Img_registro/01.jpg" height="221px" width="645px"/>
		 			<div style="min-height: 170px"></div>
		 			<img src="/bali/assets/img/Img_registro/02.jpg" height="221px" width="645px"/>
		 			<div style="min-height: 170px"></div>
		 			<img src="/bali/assets/img/Img_registro/03.jpg" height="221px" width="645px"/>
	 			</div>
	 		</column>
	 		<column cols="6">
	 			<div class="element">
 				<form action="/bali/register" method="post" class="forms">
 					<section>
 						<center>
							<label>
								First Name
							</label>
						</center>
						<input name="name" type="text" required="true" value="{{#user}}{{nombre}}{{/user}}" pattern="[a-zA-Z]{1,15}"  title="First Name should only contain letters"/>				
					</section>
					<section>
						<center>
							<label>
								Last Name
							</label>
						</center>
						<input name="lname" type="text" required="true" value="{{#user}}{{app}}{{/user}}" pattern="[a-zA-Z]{1,15}"  title="Last Name should only contain letters"/>
					</section>
					<section>
						<center>
							<label>
								Mother's Last Name
							</label>
						</center>
						<input name="mlname" type="text" required="true" value="{{#user}}{{apm}}{{/user}}" pattern="[a-zA-Z]{1,15}"  title="Mother's last name should only contain letters"/>
					</section>
					<section>
						<center>
							<label>
								Email (username)
							</label>
						</center>
						<input name="user" type="email" required="true" value="{{#user}}{{usr}}{{/user}}"/>
					</section>
					<section>
						<center>
							<label>
								Password
							</label>
						</center>
						<input name="pass" type="password" required="true"/>
					</section>
					<section>
						<center>
							<label>
								Confirm Password
							</label>
						</center>
						<input name="pass1" type="password" required="true"/>
					</section>
					<section>
						<center>
							<label>
								Phone Number
							</label>
						</center>
						<input name="phone" type="text" required="true" value="{{#user}}{{tel}}{{/user}}" pattern="[0-9]{1,15}"  title="Phone should only contain numbers"/>
					</section>
					<section>
						<center>
							<label>
								IATA
							</label>
						</center>
						<input name="iata" type="text" required="true" value="{{#user}}{{iata}}{{/user}}"/>
					</section>
					<section>
						<center>
							<label>
								Member to an Affiliation or Program
							</label>
						</center>
						<input name="member" type="text" required="true" value="{{#user}}{{miembro}}{{/user}}"/>
					</section>
					<section>
						<center>
							<label>
								Years in Business
							</label>
						</center>
						<input name="years" type="text" required="true" value="{{#user}}{{anios}}{{/user}}" pattern="[0-9]{1,15}"  title="Should only contain numbers"/>
					</section>
					<section>
						<input type="submit" class="primary" value="Register"/>
					</section>
 				</form>
 				</div>
	 		</column>	
		</row>
	</div>	

	
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}