{{% BLOCKS }}
{{< panel}}
	{{$content}}

	<div class="holder reg">
		
			<center>
	 			<h2>Registro</h2>
				<p>Por favor llene el siguiente formulario. Gracias</p>
			</center>
	
	 	<row>
			<column cols="6">
	 			<div style="min-height: 90px"></div>
	 			<img src="/bali/assets/img/Img_registro/01.jpg" height="221px" width="645px"/>
	 			<div style="min-height: 170px"></div>
	 			<img src="/bali/assets/img/Img_registro/02.jpg" height="221px" width="645px"/>
	 			<div style="min-height: 170px"></div>
	 			<img src="/bali/assets/img/Img_registro/03.jpg" height="221px" width="645px"/>
	 		</column>
			<column	cols="6">
					<div class="element">
						<form action="/bali/register" method="post" class="forms">
							<section>
								<label>
									Nombre
								</label>
								<input name="name" type="text" required="true" value="{{#user}}{{nombre}}{{/user}}" pattern="[a-zA-Z]{1,15}"  title="El nombre solo debe contener letras"/>
							</section>
							<section>
								<label>
									Apellido Paterno
								</label>
								<input name="lname" type="text" required="true" value="{{#user}}{{app}}{{/user}}" pattern="[a-zA-Z]{1,15}"  title="El apellido paterno solo debe contener letras"/>
							</section>
							<section>
								<label>
									Apellido Materno
								</label>
								<input name="mlname" type="text" required="true" value="{{#user}}{{apm}}{{/user}}" pattern="[a-zA-Z]{1,15}"  title="El apellido materno solo debe contener letras"/>
							</section>
							<section>
								<label>
									Email (username)
								</label>
								<input name="user" type="email" required="true" value="{{#user}}{{usr}}{{/user}}"/>
							</section>
							<section>
								<label>
									Password
								</label>
								<input name="pass" type="password" required="true"/ >
							</section>
							<section>
								<label>
									Confirmación Password
								</label>
								<input name="pass1" type="password" required="true"/>
							</section>
							<section>
								<label>
									Telefóno
								</label>
								<input name="phone" type="text" required="true" value="{{#user}}{{tel}}{{/user}}" pattern="[0-9]{1,15}"  title="El teléfono solo debe contener numeros"/>
							</section>
							<section>
								<label>
									IATA
								</label>
								<input name="iata" type="text" required="true" value="{{#user}}{{iata}}{{/user}}"/>
							</section>
							<section>
								<label>
									Miembro de alguna Afiliación o Programa
								</label>
								<input name="member" type="text" required="true" value="{{#user}}{{miembro}}{{/user}}"/>
							</section>
							<section>
								<label>
									Años en el negocio
								</label>
								<input name="years" type="number" required value="{{#user}}{{anios}}{{/user}}"/>
							</section>
							<section>
								<input type="submit" class="primary" value="Registrar"/>
							</section>
						</form>
					</div>
		</column>
	</row>
</div>	

	
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}