{{% BLOCKS }}
{{< panel_esp}}
	{{$header}}
	{{/header}}
	{{$content}}
		<div class="request-holder">
			<form method="post">
				<div class="request">
					<header>
						<span class="date">
							{{! 11 - Oct - 2016 }}
						</span>
						<h1>
							Solicitud
						</h1>
						
					</header>
					<p class="commnet">
						Por favor añade un hotel o traslado o una experiencia para empezar
					</p>

					<div class="segments">
						<p class="note">haz click en el item para editar</p>
					</div>

					<div class="current-create">
						
					</div>
					
		
					{{! Templates de nuevos items }}

					<div id="hotel-tmpl" data-type="hotel" class="create-segment hotel-tmpl tmpl">
						<h2> Nuevo Hotel </h2>
						<div class="form-segment forms ">
							<row>
								<column cols="5">
									<label>
										Escoge un Hotel
									</label>
									<select name="hotelT[@][idhotel]"  class="select">
										{{#hoteles}}
											<option value="{{idhotel}}">{{name}}</option>
										{{/hoteles}}
									</select>
								</column>
								<column cols="3">
									<label for="">Escoge una fecha de llegada</label>
									<input class="width-12" type="date" name="hotelT[@][aaday]" placeholder="10/10/2016">
								</column>
								<column cols="3">
									<label>Escoge una fecha de salida</label>
									<input class="width-12"type="date" name="hotelT[@][dday]" placeholder="10/10/2016">
								</column>
								<column cols="1">
									<br>
									<input class="btn " type="button" class="btn" value="Agregar" onclick="create(this)">
								</column>
							</row>
						</div>
						<a href="#" class="cancel">Cancelar</a>
					</div>
					<div id="transfer-tmpl" data-type="transfer" class="create-segment transfer-tmpl tmpl">
						<h2> Nuevo Traslado </h2>
						<div class="form-segment forms ">
							<row>
								<column cols="3">
									<label>
										Escoge un Traslado
									</label>
									<select name="transferT[@][idtransferDetail]" class="select">
										{{#transfersd}}
											{{#detail}}
												<option value="{{idtransferDetail_esp}}">{{description}}</option>
											{{/detail}}
										{{/transfersd}}
									</select>
								</column>
								<column cols="3">
									<label>
										Escoge un Tipo de Vehículo
									</label>
									<select name="transferT[@][vehicle]" class="coche select">
										<option value="INNOVA SUV">INNOVA SUV</option>
										<option value="HIACE VAN">HIACE VAN</option>
										<option value="ALPHARD/MERCY E 200">ALPHARD/MERCY E 200</option>
									</select> 
								</column>
								<column cols="3">
									<label>
										Número de Pasajeros 
									</label>
									<input type="number" name="transferT[@][passanger]" class="pas width-12">
								</column>
								<column cols="2">
									<label>
										Escoge una fecha
									</label>
									<input type="date" name="transferT[@][tday]" class="pas width-12">
								</column>
								<column cols="1">
									<br>
									<input class="btn " type="button" class="btn" value="Agregar" onclick="create(this)">
								</column>
							</row>
						</div>
						<a href="#" class="cancel">Cancelar</a>
					</div>
					<div id="experience-tmpl" data-type="experience" class="create-segment experience-tmpl tmpl">
						<h2> Nueva Experiencia </h2>
						<div class="form-segment forms ">
							<row>
								<column cols="4">
									<label>
										Escoge una Experiencia
									</label>
									<select name="experT[@][idexperience]" class="ex select">
										{{#experiences}}
											<option value="{{idexperience}}">{{title}}</div>
										{{/experiences}}
									</select>
								</column>
								<column cols="4">
									<label >
										Escoge una fecha
									</label>
									<input type="date" name="experT[@][date]" class="dat width-12" >
								</column>
								<column cols="3">
									<label>
										Número de personas
									</label>
									<input type="number" name="experT[@][passanger]" class="pas width-12" >
								</column>
								<column cols="1">
									<br>
									<input class="btn" type="button" class="btn" value="Agregar" onclick="create(this)">
								</column>
							</row>
						</div>
						<a href="#" class="cancel">Cancelar</a>
					</div>
					<div class="add">
						<span class="lbl">
							Agregar
						</span>
						<input type="button" onclick="add('#hotel-tmpl')" class="btn" value="+ Hotel">
						<input type="button" onclick="add('#transfer-tmpl')" class="btn" value="+ Traslado">
						<input type="button" onclick="add('#experience-tmpl')" class="btn" value="+ Experiencia">
					</div>

					<h2>
						Dejanos saber si hay algo mas en lo que te podemos ayudar 
					</h2>
					<textarea rows="10" name="comments" placeholder="Agregar un comentario a mi solicitud......."></textarea>
					<div class="text-center">
						<input type="submit"  class="btn" value="Enviar Solicitud" >
					</div>
				</div>

				<div id="segment-item" class="segment-item tmpl">
					<a href="#" class="dlt"><i class="fa fa-times"></i></a>
					<div class="data">
						<span class="type">Tipo</span>
						<span class="name">Nombre</span>
						<span class="more-data">Más Datos</span>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript">
			var filedsIndex = { hotel:0,
							    transfer:0,
							    experience:0 };
			function add( idd ){
				var tmpl = $(idd).clone();
				tmpl.show()
				tmpl.removeClass("tmpl")
				$(".current-create").html( tmpl );
			}

			function create( e ){
				var segment = $("#segment-item").clone();
				segment.attr("id" , "");
				var currentForm = $(e).parent().parent().parent().parent();
				var form = $(e).parent().parent().parent().parent().clone();
				var type = $(e).parent().parent().parent().parent().data("type");

				segment.attr("type" , type );

				form.find("*[name]").each(function(){
					var currentName = $(this).attr("name");
					currentName = currentName.split("T[@]").join( "["+filedsIndex[ type ]+"]" );
					$(this).attr("name" , currentName);
				});
				filedsIndex[ type ] += 1;

				//  BUILD 
				segment.show();
				form.find("h2").remove();
				form.attr("id" , "");
				var btn = form.find(".btn");
				btn.val("Edit")
				btn.attr("onclick" , "");
				form.hide();

				segment.find(".data").after(form);

				//  FILL DATA
				segment.find(".type").html( type );
				var selectActive = segment.find("select")[0].selectedIndex;
				var selectValue = segment.find("select").first().find("option")[selectActive].innerHTML;
				segment.find(".name").html( selectValue );

				var inputs = segment.find("input[type=date]:not(.btn)").toArray();
				var otherData = "";

				for( i in inputs){
					otherData +=  " - "+$(inputs[i]).val();
				}
				segment.find(".more-data").html( otherData );

				segment.find(".data").show();


				//  ACTIONS 

				segment.find(".dlt").click(function(event){
					event.preventDefault();
					$(this).parent().remove();
				});

				segment.click(function(){
					if( ! $(this).data("active") ){
						$(this).data("active" , true );
						$(this).find(".data").hide();
						$(this).find(".create-segment").show();	
					}
				});

				btn.click(function( event ){
					event.preventDefault();
					var segment = $(this).parent().parent().parent().parent().parent();
					segment.find(".data").show();
					
					//  FILL DATA 
					var selectActive = segment.find("select")[0].selectedIndex;
					var selectValue = segment.find("select").first().find("option")[selectActive].innerHTML;
					segment.find(".name").html( selectValue );


					segment.find(".create-segment").hide();	
					setTimeout(function(){
						segment.data("active" , false );	
					} , 100 );
					
				});

				segment.find(".cancel").click(function( event ){
					event.preventDefault();
					var segment = $(this).parent().parent();
					//  FILL DATA 
					var selectActive = segment.find("select")[0].selectedIndex;
					var selectValue = segment.find("select").first().find("option")[selectActive].innerHTML;
					segment.find(".name").html( selectValue );
					segment.find(".data").show();
					segment.find(".create-segment").hide();	
					setTimeout(function(){
						segment.data("active" , false );	
					} , 100 );
					
				});

				if( $(".segments .segment-item")[0] != undefined ){
					$(".segments .segment-item").last().after( segment );
				}else{
					$(".segments .note").after( segment );
				}

				$(currentForm).remove();
			}
		</script>
	{{/content}}
{{/ panel_esp}}