{{% BLOCKS }}
{{< panel}}
	{{$header}}
	{{/header}}
	{{$content}}
		<div class="request-holder">
			<form method="post">
				<div class="request">
					<header>
						<span class="date">
							{{! 11 - Oct - 2016 }}
						</span>
						<h1>
							Request / Inquire
						</h1>
						
					</header>
					<p class="commnet">
						Please add a hotel or a transfer or an experience to start
					</p>

					<div class="segments">
						<p class="note">click entry to edit the information</p>
					</div>

					<div class="current-create">
						
					</div>
					
		
					{{! Templates de nuevos items }}

					<div id="hotel-tmpl" data-type="hotel" class="create-segment hotel-tmpl tmpl">
						<h2> New Hotel </h2>
						<div class="form-segment forms ">
							<row>
								<column cols="5">
									<label>
										Pick a Hotel
									</label>
									<select name="hotelT[@][idhotel]"  class="select">
										{{#hoteles}}
											<option value="{{idhotel}}">{{name}}</option>
										{{/hoteles}}
									</select>
								</column>
								<column cols="3">
									<label for="">Pick a date of arrival</label>
									<input class="width-12" type="date" name="hotelT[@][aaday]" placeholder="10/10/2016">
								</column>
								<column cols="3">
									<label>Pick a date of departure</label>
									<input class="width-12"type="date" name="hotelT[@][dday]" placeholder="10/10/2016">
								</column>
								<column cols="1">
									<br>
									<input class="btn " type="button" class="btn" value="Add" onclick="create(this)">
								</column>
							</row>
							<p class="msg2" style="display:none;color:red;">Please enter dates.</p>
							<p class="msg1" style="display:none;color:red;">Please enter valids dates. Dates can not be earlier than the current date</p>
							<p class="msg" style="display:none;color:red;">Please enter valids dates. The arrival date must be before the departure date.</p>
						</div>
						<a href="#" class="cancel">Cancel</a>
					</div>
					<div id="transfer-tmpl" data-type="transfer" class="create-segment transfer-tmpl tmpl">
						<h2> New Trasfer </h2>
						<div class="form-segment forms ">
							<row>
								<column cols="3">
									<label>
										Pick a Transfer
									</label>
									<select name="transferT[@][idtransferDetail]" class="select">
										{{#transfersd}}
											{{#detail}}
												<option value="{{idtransferDetail}}">{{description}}</option>
											{{/detail}}
										{{/transfersd}}
									</select>
								</column>
								<column cols="3">
									<label>
										Pick a Type of Vehicle
									</label>
									<select name="transferT[@][vehicle]" class="coche select">
										<option value="INNOVA SUV">INNOVA SUV</option>
										<option value="HIACE VAN">HIACE VAN</option>
										<option value="ALPHARD/MERCY E 200">ALPHARD/MERCY E 200</option>
									</select> 
								</column>
								<column cols="3">
									<label>
										Number of Passengers 
									</label>
									<input type="number" name="transferT[@][passanger]" class="pas width-12">
								</column>
								<column cols="2">
									<label>
										Pick a Date 
									</label>
									<input type="date" name="transferT[@][tday]" class="pas width-12">
								</column>
								<column cols="1">
									<br>
									<input class="btn " type="button" class="btn" value="Add" onclick="create(this)">
								</column>
							</row>
							<p class="msg2" style="display:none;color:red;">Please enter dates.</p>
							<p class="msg1" style="display:none;color:red;">Please enter valid date. Date can not be earlier than the current date</p>
						</div>
						<a href="#" class="cancel">Cancel</a>
					</div>
					<div id="experience-tmpl" data-type="experience" class="create-segment experience-tmpl tmpl">
						<h2> New Experience </h2>
						<div class="form-segment forms ">
							<row>
								<column cols="4">
									<label>
										Pick a Experience
									</label>
									<select name="experT[@][idexperience]" class="ex select">
										{{#experiences}}
											<option value="{{idexperience}}">{{title}}</div>
										{{/experiences}}
									</select>
								</column>
								<column cols="4">
									<label >
										Pick the date
									</label>
									<input type="date" name="experT[@][date]" class="dat width-12" >
								</column>
								<column cols="3">
									<label>
										Number of people 
									</label>
									<input type="number" name="experT[@][passanger]" class="pas width-12" >
								</column>
								<column cols="1">
									<br>
									<input class="btn" type="button" class="btn" value="Add" onclick="create(this)">
								</column>
							</row>
							<p class="msg2" style="display:none;color:red;">Please enter dates.</p>
							<p class="msg1" style="display:none;color:red;">Please enter valids dates. Dates can not be earlier than the current date</p>
							<p class="msg" style="display:none;color:red;">Please enter valids dates. The arrival date must be before the departure date.</p>
						</div>
						<a href="#" class="cancel">Cancel</a>
					</div>
					<div class="add">
						<span class="lbl">
							Add
						</span>
						<input type="button" onclick="add('#hotel-tmpl')" class="btn" value="+ Hotel">
						<input type="button" onclick="add('#transfer-tmpl')" class="btn" value="+ Trasfer">
						<input type="button" onclick="add('#experience-tmpl')" class="btn" value="+ Experience">
					</div>

					<h2>
						Let us know if there is something  else we can help you with 
					</h2>
					<textarea rows="10" name="comments" placeholder="add a comment to my request......."></textarea>
					<div class="text-center">
						<input type="submit"  class="btn" value="SEND INQUIRE">
					</div>
				</div>

				<div id="segment-item" class="segment-item tmpl">
					<a href="#" class="dlt"><i class="fa fa-times"></i></a>
					<div class="data">
						<span class="type">type</span>
						<span class="name">name</span>
						<span class="more-data">more-data</span>
					</div>
				</div>
			</form>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
		
		<script type="text/javascript">			
			var filedsIndex = { hotel:0,
							    transfer:0,
							    experience:0 };
			function add( idd ){
				var tmpl = $(idd).clone();
				tmpl.show()
				tmpl.removeClass("tmpl")
				$(".current-create").html( tmpl );
			}

			function create( e ){
				var segment = $("#segment-item").clone();
				segment.attr("id" , "");
				var currentForm = $(e).parent().parent().parent().parent();
				var form = $(e).parent().parent().parent().parent().clone();
				var type = $(e).parent().parent().parent().parent().data("type");
				var err=0;

				segment.attr("type" , type );

				form.find("*[name]").each(function(){
					var currentName = $(this).attr("name");
					currentName = currentName.split("T[@]").join( "["+filedsIndex[ type ]+"]" );
					$(this).attr("name" , currentName);
				});
				filedsIndex[ type ] += 1;

				//  BUILD 
				segment.show();
				form.find("h2").remove();
				form.attr("id" , "");
				var btn = form.find(".btn");
				btn.val("Edit")
				btn.attr("onclick" , "");
				form.hide();

				segment.find(".data").after(form);

				//  FILL DATA
				segment.find(".type").html( type );
				var selectActive = segment.find("select")[0].selectedIndex;
				var selectValue = segment.find("select").first().find("option")[selectActive].innerHTML;
				segment.find(".name").html( selectValue );

				var inputs = segment.find("input[type=date]:not(.btn)").toArray();
				var otherData = "";
				if(inputs.length==2 ){
					if(inputs[0].value==''&&inputs[1].value==''){
						$(".msg2").show();
						err=1;
					}
					else
					{
						$(".msg2").hide();
						err=0;
						var isAfter=moment(moment()).isAfter(inputs[0].value);
						var isBefore=moment(inputs[0].value).isAfter(inputs[1].value);
						if(isAfter==true){
							$(".msg1").show();
							err=1;
						}
						else if(isBefore==true){
							$(".msg1").hide();
							$(".msg").show();
							err=1;
						}
						else{
							$(".msg1").hide();
							$(".msg").hide();
							err=0;
						}

					}
				}
				else if(inputs.length==1){
					if(inputs[0].value==0){
						$(".msg2").show();
						err=1;
					}
					else{
						$(".msg2").hide();
						err=0;
						var isAfter=moment(moment()).isAfter(inputs[0].value);
						if(isAfter==true){
							$(".msg1").show();
							err=1;
						}
						else{
							$(".msg1").hide();
							err=0;
						}
					}

				}
				if(err==0){

					for( i in inputs){
						otherData +=  " - "+$(inputs[i]).val();
					}
					segment.find(".more-data").html( otherData );

					segment.find(".data").show();


					//  ACTIONS 


					segment.find(".dlt").click(function(event){
						event.preventDefault();
						$(this).parent().remove();
					});


					segment.click(function(){
						if( ! $(this).data("active") ){
							$(this).data("active" , true );
							$(this).find(".data").hide();
							$(this).find(".create-segment").show();	
						}
					});

					btn.click(function( event ){
						event.preventDefault();
						var segment = $(this).parent().parent().parent().parent().parent();
						segment.find(".data").show();
						
						//  FILL DATA 
						var selectActive = segment.find("select")[0].selectedIndex;
						var selectValue = segment.find("select").first().find("option")[selectActive].innerHTML;
						segment.find(".name").html( selectValue );

						segment.find(".create-segment").hide();	
						setTimeout(function(){
							segment.data("active" , false );	
							segment.removeClass("active");
						} , 100 );
					
					});


						


					segment.find(".cancel").click(function( event ){
						event.preventDefault();
						var segment = $(this).parent().parent();
						//  FILL DATA 
						var selectActive = segment.find("select")[0].selectedIndex;
						var selectValue = segment.find("select").first().find("option")[selectActive].innerHTML;
						segment.find(".name").html( selectValue );
						segment.find(".data").show();
						segment.find(".create-segment").hide();	
						setTimeout(function(){
							segment.data("active" , false );	
							segment.removeClass("active");
						} , 100 );
						
					});


					if( $(".segments .segment-item")[0] != undefined ){
						$(".segments .segment-item").last().after( segment );
					}else{
						$(".segments .note").after( segment );
					}

					$(currentForm).remove();
				}
			}
		</script>
	{{/content}}
{{/ panel}}