{{% BLOCKS }}
{{< panel}}
	{{$header}}
	{{/header}}
	{{$content}}
		<div class="request-holder">
			<h2>Your request will be answered in a moment. Thank you</h2>
		</div>
		</script>
	{{/content}}
{{/ panel}}