{{% BLOCKS }}
{{< panel_esp}}
	{{$header}}
	{{/header}}
	{{$content}}
		<div class="request-holder">
			<h2>Tu solicitud será atendida en unos instantes. Gracias</h2>
		</div>
		</script>
	{{/content}}
{{/ panel_esp}}