{{% BLOCKS }}
{{< panel}}
	{{$header}}
	{{/header}}
	{{$content}}
		<div class="request-holder">
			<div class="request">
				<header>
					<span class="date">
						11 - Oct - 2016
					</span>
					<h1>
						Request / Inquire
					</h1>
					
				</header>
				<p class="commnet">
					Please add a hotel or a transfer or an experience to start
				</p>

				<div class="segments">
					<p class="note">click entry to edit the information</p>
					<div class="segment-item">
						<a href="#" class="dlt"><i class="fa fa-times"></i></a>
						<span class="type">Experience</span>
						<span class="name">FOUR SEASON AT JIMBARAN</span>
						<span class="more-data">
							10 / 10 / 2016 - 10 / 10 / 2016 
						</span>
					</div>
					<div class="segment-item">
						<a href="#" class="dlt"><i class="fa fa-times"></i></a>
						<span class="type">Experience</span>
						<span class="name">FOUR SEASON AT JIMBARAN</span>
						<span class="more-data">
							10 / 10 / 2016 - 10 / 10 / 2016 
						</span>
					</div>
					<div class="segment-item">
						<a href="#" class="dlt"><i class="fa fa-times"></i></a>
						<span class="type">Experience</span>
						<span class="name">FOUR SEASON AT JIMBARAN</span>
						<span class="more-data">
							10 / 10 / 2016 - 10 / 10 / 2016 
						</span>
					</div>
					<div class="segment-item">
						<a href="#" class="dlt"><i class="fa fa-times"></i></a>
						<span class="type">Experience</span>
						<span class="name">FOUR SEASON AT JIMBARAN</span>
						<span class="more-data">
							10 / 10 / 2016 - 10 / 10 / 2016 
						</span>
					</div>
				</div>
				<div class="create-segment">
					<h2> New Hotel </h2>
					<br>
					<div class="form-segment forms">
						<row>
							<column cols="5">
								<label>
									Pick a Hotel
								</label>
								<select>
									<option>FOUR SEASON AT JIMBARAN</option>
								</select>
							</column>
							<column cols="3">
								<label for="">Pick a date of arrival</label>
								<input class="width-12" type="date" name="date" placeholder="10/10/2016">
							</column>
							<column cols="3">
								<label>Pick a date of departure</label>
								<input class="width-12"type="date" name="date" placeholder="10/10/2016">
							</column>
							<column cols="1">
								<br>
								<input class="btn " type="button" class="btn" value="Add">
							</column>
						</row>
					</div>
				</div>
				<div class="add">
					<span class="lbl">
						Add
					</span>
					<input type="button" class="btn" value="+ Hotel">
					<input type="button" class="btn" value="+ Trasfer">
					<input type="button" class="btn" value="+ Experience">
				</div>

				<h2>
					Let us know if there is something  else we can help you with 
				</h2>
				<textarea rows="10" placeholder="add a comment to my request......."></textarea>
				<div class="text-center">
					<input type="submit"  class="btn" value="SEND INQUIRE" >
				</div>
			</div>
		</div>
	{{/content}}
{{/ panel}}