{{% BLOCKS }}
{{< panel_esp}}

	{{$content}}
	<img src="/bali/assets/img/transfers/Traslados.jpg">
	<div class="holder transfer">
		<row>
			<script>
					var path = "";
					var href = window.location.pathname
					var s = href.split("/");
					for (var i=3;i<(s.length-1);i++) {
						path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
					}
					i=s.length-1;
					path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
					var url = "<p id=bread>" + path+"</p>";
					document.writeln(url);
	 			</script>
		</row>
		<row>
			<column cols="8">
				<div class="pad">
					<h1>
							INNOVA SUV
					</h1>
					<h2 style="width:510px">
						Descripción
					</h2>
					<p>
						El Toyota Innova es un monovolumen compacto fabricado por Toyota . Se produce en Indonesia bajo la supervisión de Toyota Astra Motor desde 2004 . La Innova está alimentada por una gasolina de 2.0 litros de 136 CV ( 100 kW ) 1TR -FE VVT -i , una versión 2.7 L ( 2TR -FE ) de la misma , o un 2.5 L de 102 CV ( 75 kW ) 2KD - FTV motor turbodiesel common rail D - 4D . Los niveles del ajuste son J , E , G y V. La unidad de 2.7 litros es sólo para la V , con caja de cambios automática .
					</p>
				</div>						
			</column>
			<column cols="4"  >
				<div class="pad">
					<h2>Galería</h2>
					<blocks cols="3">
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.meharcabservices.com/cab/images/toyota-innova.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.ecstaticindiatours.com/images/innova-SuperWhite2.png">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.toyotabharat.com/Images/THIRD%20ROW%20FOLD_tcm34-60207.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.esiarentcar.com/wp-content/uploads/2014/11/kijang_innova_interior.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="https://i.wheelsage.org/pictures/t/toyota/kijang_innova/toyota_kijang_innova_3.jpeg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://1.bp.blogspot.com/-d320QRmsdt4/USY2_IwFELI/AAAAAAAAADA/xw1a0BlDwvQ/s1600/kijang-innova.jpg">
						</div>
					</blocks>
				</div>
			</column>
		</row>
		<row>
			<column cols="8">
				<div class="pad">
					<h1>
						HIACE VAN
					</h1>
					<h2 style="width:510px">
						Descripción
					</h2>
					<p>
						El Toyota Hiace es un vehículo de motor producido por el fabricante japonés Toyota .
HiAces también son formas populares de transporte utilizados por los miembros de la industria del entretenimiento en Hong Kong .
Los motores turbodiesel 2,5 y 3,0 litros tienen una potencia máxima de 75 kW a 3.600 rpm y 80 kW a 3.000 rpm , respectivamente, y un par máximo de 260 Nm a 1,600-2,400 rpm y 286 Nm a 1.200-1.600 rpm respectivamente. El motor de gasolina de 2,7 L tiene una potencia máxima de 111 kW a 4.800 rpm y un par máximo de 241 Nm a 3800 rpm.
					</p>
				</div>						
			</column>
			<column cols="4"  >
				<div class="pad">
					<h2>Galería</h2>
					<blocks cols="3">
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic1.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic10.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.toyota.com.mx/media/vehiculos/hiace/galeria/ext/pic1.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.toyota.com.mx/media/vehiculos/hiace/galeria/ext/pic3.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic8.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic13.jpg">
						</div>
					</blocks>
				</div>
			</column>
		</row>
		<row>
			<column cols="8">
				<div class="pad">
					<h1>
						ALPHARD/MERCY E 200
					</h1>
					<h2 style="width:510px">
						Descripción
					</h2>
					<p>
						El Mercedes- Benz Clase E es una gama de vehículos ejecutivos fabricados por el fabricante alemán Mercedes -Benz en diversas configuraciones de motor y corporales producidos desde 1993 , comercializa en todo el mundo a través de cinco generaciones .
opciones de motor para el W213 Clase E verán una actualización importante, gracias al cambio a los motores de 6 cilindros en línea de los actuales motores V6 , [ 20 ] a lo largo de una nueva generación de motores diésel de cuatro cilindros , con nombre en código OM654 , y cuatro existentes los motores de gasolina del cilindro.
					</p>
				</div>						
			</column>
			<column cols="4"  >
				<div class="pad">
					<h2>Galería</h2>
					<blocks cols="3">
						<div class="himage">
							<img onclick="showImage(this)" src="http://s3.caradvice.com.au/wp-content/uploads/2015/12/2016_mercedes-benz_e-class_interior_02.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://s3.caradvice.com.au/wp-content/uploads/2015/12/2016_mercedes-benz_e-class_interior_05.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.carsinvasion.com/wp-content/uploads/2013/12/Mercedes-Benz-E200-Natural-Gas-2014-wallpaper.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://images.thecarconnection.com/lrg/2014-mercedes-benz-e-class_100412883_l.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://www.gaadicdn.com/blog/wp-content/uploads/2013/06/Mercedes-Benz-E-Class_2014_1024x768_wallpaper_63.jpg">
						</div>
						<div class="himage">
							<img onclick="showImage(this)" src="http://s3.caradvice.com.au/wp-content/uploads/2012/12/2013-mercedes-benz-e-class-21.jpg">
						</div>
					</blocks>
				</div>
			</column>
		</row>
	</div>
	<div class="expose">
	</div>

	
	{{/content}}
	{{$ scripts}}
        <script type="text/javascript">	
        	var actual="0";
			$(function(){
				jQuery.fn.center = function () {
					this.css("position","absolute");
					this.css("top", Math.max(0, ((jQuery(jQuery(this).parent()).height() - jQuery(this).outerHeight()) / 2) ) + "px");
					this.css("left", Math.max(0, ((jQuery(jQuery(this).parent()).width() - jQuery(this).outerWidth()) / 2) ) + "px");
				return this; };
			});
			function showImage(e){
				var img = e;
				$(".expose").append("<div class='bg' ></div>");
				$(".expose").append("<div class='cerrar' onclick='quitar(this)'></div>");
				$(".expose").append("<img src='' class='th'>");
				$(".expose").find("img").attr("src" , $(e).attr("src") );
				$(".expose .hr").center();
				$(".expose").append("<div class='previo' onclick='previo()'><img src='/bali/assets/img/izq.png'></div>");
				$(".expose").append("<div class='siguiente' onclick='siguiente()'><img src='/bali/assets/img/der.png'></div>");
				$(".expose").fadeIn();
				var image=new Array();
				image.push("http://www.meharcabservices.com/cab/images/toyota-innova.jpg");
				image.push("http://www.ecstaticindiatours.com/images/innova-SuperWhite2.png");
				image.push("http://www.toyotabharat.com/Images/THIRD%20ROW%20FOLD_tcm34-60207.jpg");
				image.push("http://www.toyotabharat.com/Images/THIRD%20ROW%20FOLD_tcm34-60207.jpg");
				image.push("https://i.wheelsage.org/pictures/t/toyota/kijang_innova/toyota_kijang_innova_3.jpeg");
				image.push("http://1.bp.blogspot.com/-d320QRmsdt4/USY2_IwFELI/AAAAAAAAADA/xw1a0BlDwvQ/s1600/kijang-innova.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic1.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic10.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/ext/pic1.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/ext/pic3.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic8.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic13.jpg");
				image.push("http://s3.caradvice.com.au/wp-content/uploads/2015/12/2016_mercedes-benz_e-class_interior_02.jpg");
				image.push("http://s3.caradvice.com.au/wp-content/uploads/2015/12/2016_mercedes-benz_e-class_interior_05.jpg");
				image.push("http://www.carsinvasion.com/wp-content/uploads/2013/12/Mercedes-Benz-E200-Natural-Gas-2014-wallpaper.jpg");
				image.push("http://images.thecarconnection.com/lrg/2014-mercedes-benz-e-class_100412883_l.jpg");
				image.push("http://www.gaadicdn.com/blog/wp-content/uploads/2013/06/Mercedes-Benz-E-Class_2014_1024x768_wallpaper_63.jpg");
				image.push("http://s3.caradvice.com.au/wp-content/uploads/2012/12/2013-mercedes-benz-e-class-21.jpg");

        		
				actual=image.indexOf($(e).attr("src"));
			}
			function quitar(e){
				$(".expose").empty();
				$(".expose").fadeOut();
				actual=0;
			}
			function previo(){
				var image=new Array();
				image.push("http://www.meharcabservices.com/cab/images/toyota-innova.jpg");
				image.push("http://www.ecstaticindiatours.com/images/innova-SuperWhite2.png");
				image.push("http://www.toyotabharat.com/Images/THIRD%20ROW%20FOLD_tcm34-60207.jpg");
				image.push("http://www.toyotabharat.com/Images/THIRD%20ROW%20FOLD_tcm34-60207.jpg");
				image.push("https://i.wheelsage.org/pictures/t/toyota/kijang_innova/toyota_kijang_innova_3.jpeg");
				image.push("http://1.bp.blogspot.com/-d320QRmsdt4/USY2_IwFELI/AAAAAAAAADA/xw1a0BlDwvQ/s1600/kijang-innova.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic1.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic10.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/ext/pic1.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/ext/pic3.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic8.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic13.jpg");
				image.push("http://s3.caradvice.com.au/wp-content/uploads/2015/12/2016_mercedes-benz_e-class_interior_02.jpg");
				image.push("http://s3.caradvice.com.au/wp-content/uploads/2015/12/2016_mercedes-benz_e-class_interior_05.jpg");
				image.push("http://www.carsinvasion.com/wp-content/uploads/2013/12/Mercedes-Benz-E200-Natural-Gas-2014-wallpaper.jpg");
				image.push("http://images.thecarconnection.com/lrg/2014-mercedes-benz-e-class_100412883_l.jpg");
				image.push("http://www.gaadicdn.com/blog/wp-content/uploads/2013/06/Mercedes-Benz-E-Class_2014_1024x768_wallpaper_63.jpg");
				image.push("http://s3.caradvice.com.au/wp-content/uploads/2012/12/2013-mercedes-benz-e-class-21.jpg");
        		actual=actual==0?image.length-1:actual-1;
        		$(".th").attr("src",image[actual]);
			}
			function siguiente(){
				var image=new Array();
				image.push("http://www.meharcabservices.com/cab/images/toyota-innova.jpg");
				image.push("http://www.ecstaticindiatours.com/images/innova-SuperWhite2.png");
				image.push("http://www.toyotabharat.com/Images/THIRD%20ROW%20FOLD_tcm34-60207.jpg");
				image.push("http://www.toyotabharat.com/Images/THIRD%20ROW%20FOLD_tcm34-60207.jpg");
				image.push("https://i.wheelsage.org/pictures/t/toyota/kijang_innova/toyota_kijang_innova_3.jpeg");
				image.push("http://1.bp.blogspot.com/-d320QRmsdt4/USY2_IwFELI/AAAAAAAAADA/xw1a0BlDwvQ/s1600/kijang-innova.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic1.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic10.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/ext/pic1.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/ext/pic3.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic8.jpg");
				image.push("http://www.toyota.com.mx/media/vehiculos/hiace/galeria/int/pic13.jpg");
				image.push("http://s3.caradvice.com.au/wp-content/uploads/2015/12/2016_mercedes-benz_e-class_interior_02.jpg");
				image.push("http://s3.caradvice.com.au/wp-content/uploads/2015/12/2016_mercedes-benz_e-class_interior_05.jpg");
				image.push("http://www.carsinvasion.com/wp-content/uploads/2013/12/Mercedes-Benz-E200-Natural-Gas-2014-wallpaper.jpg");
				image.push("http://images.thecarconnection.com/lrg/2014-mercedes-benz-e-class_100412883_l.jpg");
				image.push("http://www.gaadicdn.com/blog/wp-content/uploads/2013/06/Mercedes-Benz-E-Class_2014_1024x768_wallpaper_63.jpg");
				image.push("http://s3.caradvice.com.au/wp-content/uploads/2012/12/2013-mercedes-benz-e-class-21.jpg");
        		actual=actual==image.length-1?0:actual+1;
        		$(".th").attr("src",image[actual]);
        	}
        	$(document).keydown(function(tecla){
        		if($(".th").length!=0){
        			switch (tecla.keyCode){
	        			case 37:
	        				previo();
	        			break;
	        			case 39:
	        				siguiente();
	        			break;
	        			case 27:
	        				$(".expose").empty();
							$(".expose").fadeOut();
							actual=0;
	        			break;
        			}
        		}
            });
        </script>
    {{/ scripts}}
{{/ panel_esp}}