{{% BLOCKS }}
{{< panel}}

	{{$content}}
	<img src="/bali/assets/img/transfers/transfers_pleca.jpg">
	<div class="holder transfer">
		<row>
			<script>
					var path = "";
					var href = window.location.pathname
					var s = href.split("/");
					for (var i=3;i<(s.length-1);i++) {
						path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
					}
					i=s.length-1;
					path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
					var url = "<p id=bread>" + path+"</p>";
					document.writeln(url);
	 			</script>
		</row>
		{{#cars}}
			<row>
				<column cols="8">
					<div class="pad">
						<h1>
							{{name}}
						</h1>
						<h2 style="width:510px">
							Description
						</h2>
						<p>
							{{description}}
						</p>
					</div>
				</column>
				<column cols="4">
					<div class="pad">
						<h2>Gallery</h2>
						<blocks cols="3">
							{{#images}}
								<div class="himage">
									<img onclick="showImage(this)" src="/bali/assets/img/car/{{vehicle_idVehicle}}/{{path}}">
								</div>
							{{/images}}
						</blocks>
					</div>
				</column>
			</row>
		{{/cars}}
	</div>
	<div class="expose">
	</div>

	
	{{/content}}
	{{$ scripts}}
        <script type="text/javascript">	
        	var actual="0";
			$(function(){
				jQuery.fn.center = function () {
					this.css("position","absolute");
					this.css("top", Math.max(0, ((jQuery(jQuery(this).parent()).height() - jQuery(this).outerHeight()) / 2) ) + "px");
					this.css("left", Math.max(0, ((jQuery(jQuery(this).parent()).width() - jQuery(this).outerWidth()) / 2) ) + "px");
				return this; };
			});
			function showImage(e){
				var img = e;
				$(".expose").append("<div class='bg' ></div>");
				$(".expose").append("<div class='cerrar' onclick='quitar(this)'></div>");
				$(".expose").append("<img src='' class='th'>");
				$(".expose").find("img").attr("src" , $(e).attr("src") );
				$(".expose .hr").center();
				$(".expose").append("<div class='previo' onclick='previo()'><img src='/bali/assets/img/izq.png'></div>");
				$(".expose").append("<div class='siguiente' onclick='siguiente()'><img src='/bali/assets/img/der.png'></div>");
				$(".expose").fadeIn();
				var image=new Array();
				{{#cars}}
					{{#images}}
						image.push("{{vehicle_idVehicle}}/{{path}}");
					{{/images}}
				{{/cars}}
				actual=image.indexOf($(e).attr("src"));
			}
			function quitar(e){
				$(".expose").empty();
				$(".expose").fadeOut();
				actual=0;
			}
			function previo(){
				var image=new Array();
				{{#cars}}
					{{#images}}
						image.push("{{vehicle_idVehicle}}/{{path}}");
					{{/images}}
				{{/cars}}
        		actual=actual==0?image.length-1:actual-1;
        		$(".th").attr("src","/bali/assets/img/car/"+image[actual]);
			}
			function siguiente(){
				var image=new Array();
				{{#cars}}
					{{#images}}
						image.push("{{vehicle_idVehicle}}/{{path}}");
					{{/images}}
				{{/cars}}
        		actual=actual==image.length-1?0:actual+1;	
        		$(".th").attr("src","/bali/assets/img/car/"+image[actual]);
        	}
        	$(document).keydown(function(tecla){
        		if($(".th").length!=0){
        			switch (tecla.keyCode){
	        			case 37:
	        				previo();
	        			break;
	        			case 39:
	        				siguiente();
	        			break;
	        			case 27:
	        				$(".expose").empty();
							$(".expose").fadeOut();
							actual=0;
	        			break;
        			}
        		}
            });
        </script>
    {{/ scripts}}
{{/ panel}}