{{% BLOCKS }}
{{< panel_esp}}
	{{$content}}
	<img src="/bali/assets/img/Agente-de-viajes.jpg">
	<div class="holder transfer">
		<script>
					var path = "";
					var href = window.location.pathname
					var s = href.split("/");
					for (var i=3;i<(s.length-1);i++) {
						path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
					}
					i=s.length-1;
					path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
					var url = "<p id=bread>" + path+"</p>";
					document.writeln(url);
	 	</script>
	 	<div class="filter">
			<a href="javascript:void(0);" data-filter="*" class="actual"> <h2>ALL</h2></a>
			<a href="javascript:void(0);" data-filter=".T"><h2>TRASLADOS</h2></a> 
        	<a href="javascript:void(0);" data-filter=".E"><h2>EXPERIENCIAS</h2></a> 
		</div>
		<div class="aux">
		 	{{#transferBlock}}
		 		<div class="{{tipo}}">
			 		<h1>
			 			{{es}}
		 				<span>Precios de traslado por persona en USD</span>
			 		</h1>
			 		<center>
			 			<button type="button" onclick="window.location.href='/bali/es/request'">REQUEST / INQUIERE</button>
			 		</center>
			 		<br>
			 		<table>
						<tr class="main">
							<td>Descripción</td>
							<td colspan="2" class="data">INNOVA SUV</td>
							<td colspan="2" class="data">HIACE VAN</td>
							<td colspan="2" class="data">ALPHARD/MERCY E 200</td>
						</tr>
						<tr>
							<td>Pasajeros</td>
							<td class="data">1</td>
							<td class="data">2 - 4</td>
							<td class="data">5 - 7</td>
							<td class="data">8 - 10 
							<td class="data"> 1 </td>
							<td class="data"> 2 - 4 </td>
						</tr>
						{{# detalle}}
							<tr>
								<td>{{&es}}</td>
								{{#vals}}
									<td class="data">{{val}}</td>
								{{/vals}}
							</tr>
						{{/ detalle}}
					</table>
					<h2>Las tasas transfer incluyen :</h2>
					Conductor, Gasolina y Estacionamiento
					<br>Guia que hable Español / Ingles 
					<br>Seguro
					<br>Toalla Refrescante
					<br>Conexión Wi-fi en el carro	
					<br>Las donaciones , derecho de ingreso según itinerario , excepto Bali a tu antojo
				</div>
			{{/transferBlock}}
		</div>
		<h1> Gallery </h1>
		
		<img src="/bali/assets/img/transfers/galeria_trasnfers/automovil_02.jpg" class="modal">
		<img src="/bali/assets/img/transfers/galeria_trasnfers/automovil_01.jpg">
		<img src="/bali/assets/img/transfers/galeria_trasnfers/camioneta_01.jpg">
		<img src="/bali/assets/img/transfers/galeria_trasnfers/camioneta_02.jpg">
		<div class="clear"></div>
	</div>
	{{/content}}
	{{$scripts}}
		<script>
			jQuery.noConflict();
			jQuery(window).load(function(){
					jQuery('.filter a').click(function(){
					jQuery('.filter .actual').removeClass('actual');
					jQuery(this).addClass('actual');
					
					var selector = jQuery(this).attr('data-filter');
					jQuery('.aux > div').fadeIn(1000);
					jQuery('.aux > div').not(selector).hide();
				});
		});
	 	</script>
	{{/scripts}}
{{/ panel_esp}}
	