{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Edit Vehicle
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><i class="fa fa-home mr5"></i>Vehicles</li>
			        <li class="active">Edit Vehicle</li>
      			</ol>
    			<div class="row">
    				<div class="col-md-10 col-md-offset-1">
	        			<div class="panel">
	        				<div class="panel-heading">
	        					<h4 class="panel-title">Vehicle Form</h4>
	          					<p>Please fill the next form. Thanks.</p>
	        				</div>
		        			<div class="panel-body">
		        				<hr>			
		        				<form class="form-horizontal" action="/bali/panel/vehicles/edit/{{#car}}{{idVehicle}}{{/car}}" method="post" name="newUser" class="form-horizontal">
		        					<div class="form-group">
		                    			<label class="col-sm-3 control-label">First Name: <span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="car" class="form-control" placeholder="Write the car name." value="{{#car}}{{name}}{{/car}}" required/>
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Description: <span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<textarea name="description" class="form-control" placeholder="Write the car name."  required>{{#car}}{{description}}{{/car}}</textarea>
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Spanish Description:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<textarea name="spanish" class="form-control" placeholder="Write the car name." required>{{#car}}{{description_esp}}{{/car}}</textarea>
		                    			</div>
		                  			</div>
		                  			<hr>
		                  			<div class="row">
	                    				<div class="col-sm-9 col-sm-offset-8">
					                      <button class="btn btn-success btn-quirk btn-wide mr5">Save</button>
	                    				</div>
	                  				</div>
	                  				<hr>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">New Image:</label>
		                    			<div class="col-sm-6">
		                    				<a href="/bali/panel/vehicles/addImages" target="_blank"><button type="button" class="btn btn-success btn-quirk btn-wide mr5">New Image</button></a>	
		                   				</div>
		                  			</div>
		        				</form>
		        			</div>
	        			</div>
        			</div>
    			</div>
    			<div class="row">
    				{{# car}}
	    				{{# images }}
							<div class="col-md-3">
	          					<div class="panel">
	            					<div class="panel-heading">
	              						<h4 class="panel-title">Image </h4>
	            					</div>
	            					<div class="panel-body">
	              						<img src="/bali/assets/img/car/{{vehicle_idVehicle}}/{{path}}" class="img-rounded " width="270" height="150" >
						                <a href="/bali/panel/vehicles/editImages/{{idvehicleImages}}"><button type="button" class="btn btn-success btn-quirk"><i class="fa fa-pencil"></i></button></a>
						                <a onclick=myFunction({{idvehicleImages}})><button type="button" class="btn btn-danger btn-quirk"><i class="fa fa-times"></i></button></a>
	            					</div>
	          					</div>
	  						</div>
	        			{{/ images }}
	        		{{/car}}
	        		<script>
						function myFunction(id) {
                            if (confirm("Estas Seguro de Eliminar?") == true) {
                                self.location = "/bali/panel/vehicles/deleteImages/"+id; 
                            } 
                        }
                    </script>
    			</div>	
    		</div>
        {{/ content }}
		{{$ scripts }}
		{{/ scripts }}
	{{/ quirk }}