{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Add Hotel
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Hotel</a></li>
			        <li class="active">Agregar Hotel</li>
      			</ol>
    			<div class="row">
    				<div class="col-md-6 col-md-offset-3">
	        			<div class="panel">
	        				<div class="panel-heading">
	        					<h4 class="panel-title">Formulario Hotel</h4>
	          					<p>Por favor, llene el siguiente formulario. Gracias.</p>
	        				</div>
		        			<div class="panel-body">
		        				<hr>			
		        				<form class="form-horizontal" action="/bali/panel/hotel/add" method="post" name="newHotel" enctype="multipart/form-data" class="form-horizontal">
		        					<div class="form-group">
		                    			<label class="col-sm-3 control-label">Nombre: <span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="name" class="form-control" placeholder="Escribe un nombre de hotel." required />
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Dirección:</label>
		                    			<div class="col-sm-6">
		                     				<input type="text" name="address" class="form-control" placeholder="Escribe una dirección del hotel."  />
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Website:</label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="website" class="form-control" placeholder="Escribe un sitio web."/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Mapa:</label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="map" class="form-control" placeholder="Escribe una url del mapa"/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Teléfono:</label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="name" class="form-control" placeholder="Escribe un teléfono."/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Email:</label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="email" class="form-control" placeholder="Escribe un email" />
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Descripción:</label>
		                    			<div class="col-sm-6">
		                    				<textarea class="form-control" name="descripcion" placeholder="Escribe una descripción."></textarea>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Thumbnail:</label>
		                    			<div class="col-sm-6">
		                    				<input type="file"name="thumbnail">
											 <span class="help-block">Imagen en tamaño THUMBNAIL (000px*000px)</span>
		                   				</div>
		                  			</div>
		                  			<hr>
		                  			<div class="row">
	                    				<div class="col-sm-9 col-sm-offset-8">
					                      <button class="btn btn-success btn-quirk btn-wide mr5">Guardar</button>
	                    				</div>
	                  				</div>
		        				</form>
		        			</div>
	        			</div>
        			</div>
    			</div>	
    		</div>
        {{/ content }}
		{{$ scripts }}
		{{/ scripts }}
	{{/ quirk }}