{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Add Hotel
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Hotel</a></li>
			        <li class="active">Add Hotel</li>
      			</ol>
    			<div class="row">
    				<div class="col-md-10 col-md-offset-1">
	        			<div class="panel">
	        				<div class="panel-heading">
	        					<h4 class="panel-title">Hotel Form</h4>
	          					<p>Please fill the next form, thanks.</p>
	        				</div>
		        			<div class="panel-body">
		        				<hr>			
		        				<form class="form-horizontal" action="/bali/panel/hotel/add" method="post" name="newHotel" enctype="multipart/form-data" class="form-horizontal">
		        					<div class="form-group">
		                    			<label class="col-sm-3 control-label">Name: <span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="name" class="form-control" placeholder="Write the hotel's name." required />
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Address:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                     				<input type="text" name="address" class="form-control" placeholder="Write the hotel's address."  />
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Website:</label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="website" class="form-control" placeholder="Write the hotel's website."/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Map:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="map" class="form-control" placeholder="Write the hotel's map(frame of google maps)."/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Phone Number:</label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="tel" class="form-control" placeholder="Write the hotel's phone."/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Email:</label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="email" class="form-control" placeholder="Write the hotel's email." />
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Description:</label>
		                    			<div class="col-sm-6">
		                    				<textarea class="form-control" name="descripcion" placeholder="Write the hotel's description."></textarea>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Spanish Description:</label>
		                    			<div class="col-sm-6">
		                    				<textarea class="form-control" name="descripcion_spa" placeholder="Write the hotel's spanish description."></textarea>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                  				<label class="col-sm-3 control-label">Zone:<span class="text-danger">*</span></label>
		                  				<div class="col-sm-6">
		                  					<select name="zone" class="form-control">
		                  						<option value=""></option>
		                  						{{# zones}}
		                  							<option value="{{idzona}}">{{zona}}</option>
		                  						{{/ zones}}
		                  					</select>
		                  				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label"><span class="text-danger">*</span>Thumbnail:</label>
		                    			<div class="col-sm-6">
		                    				<input type="file"name="thumbnail">
											 <span class="help-block">THUMBNAIL size image(000px*000px)</span>
		                   				</div>
		                  			</div>
		                  			<hr>
		                  			<div class="row">
	                    				<div class="col-sm-9 col-sm-offset-8">
					                      <button class="btn btn-success btn-quirk btn-wide mr5">Save</button>
	                    				</div>
	                  				</div>
		        				</form>
		        			</div>
	        			</div>
        			</div>
    			</div>	
    		</div>
        {{/ content }}
		{{$ scripts }}
		{{/ scripts }}
	{{/ quirk }}