{{% BLOCKS }}
	{{< admin }}
		{{$ title}}
			Agregar Hotel - Bali
		{{/ title}}
		{{$ content }}
			<div id="page-content-wrapper">
            	<div class="container-fluid">
					<div class="row">
				        <div class="col-lg-12">
				            <h1 class="page-header">Hotel</h1>
				        </div>
				    </div>
					<div class="row">
				    	<div class="col-lg-12">
				        	<div class="panel panel-default">
				            	<div class="panel-heading">
				                	Agregar Hotel
				            	</div>
				            	<div class="panel-body">
				                	<div class="row">
				                        <form role="form" action="/panel/hotel/add" method="post" name="newHotel" enctype="multipart/form-data" class="form-horizontal">
				                        	<div class="form-group">
    											<label class="control-label col-sm-3" for="name">Nombre:</label>
    											<div class="col-sm-8">
      												<input class="form-control" placeholder="Nombre" name="name">
    											</div>
  											</div>
  											<div class="form-group">
    											<label class="control-label col-sm-3" for="address">Dirección:</label>
    											<div class="col-sm-8">
      												<input class="form-control" placeholder="Dirección" name="address">
    											</div>
  											</div>
  											<div class="form-group">
    											<label class="control-label col-sm-3" for="website">Website:</label>
    											<div class="col-sm-8">
      												<input class="form-control" placeholder="Web Site" name="website">
    											</div>
  											</div>
  											<div class="form-group">
    											<label class="control-label col-sm-3" for="map">Mapa:</label>
    											<div class="col-sm-8">
      												<input class="form-control" placeholder="URL Mapa" name="map">
    											</div>
  											</div>
  											<div class="form-group">
    											<label class="control-label col-sm-3" for="tel">Teléfono:</label>
    											<div class="col-sm-8">
      												<input class="form-control" placeholder="Teléfono" name="tel">
    											</div>
  											</div>
  											<div class="form-group">
    											<label class="control-label col-sm-3" for="email">Email:</label>
    											<div class="col-sm-8">
      												<input class="form-control" placeholder="Correo" name="email">
    											</div>
  											</div>
  											<div class="form-group">
    											<label class="control-label col-sm-3" for="map">Descripción:</label>
    											<div class="col-sm-8">
      												<textarea class="form-control" name="descripcion"></textarea>
    											</div>
  											</div>
  											<div class="form-group">
    											<label class="control-label col-sm-3" for="map">Thumbnail:</label>
    											<div class="col-sm-8">
      												<input type="file"name="thumbnail">
										        	<span class="help-block">Imagen en tamaño THUMBNAIL (000px*000px)</span>
    											</div>
  											</div>
  											<div class="form-group"> 
    											<div class="col-sm-offset-8 col-sm-8">
      												<input type="submit" class="btn btn-primary enviar" value="Guardar">   	
											    </div>
											</div>
				                        </form>
				                	</div>
				            	</div>
				        	</div>
				    	</div>
					</div>
				</div>
			</div>
		{{/ content}}
		{{$ footerscripts }}
		{{/ footerscripts }}
	{{/ admin }}