{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Add Hotel Image
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Hotel</a></li>
			        <li class="active">Add Hotel Image</li>
      			</ol>
    			<div class="row">
    				<div class="col-md-10 col-md-offset-1">
	        			<div class="panel">
	        				<div class="panel-heading">
	        					<h4 class="panel-title">Form Hotel Image</h4>
	        				</div>
		        			<div class="panel-body">
		        				<hr>			
		        				<form class="form-horizontal" action="/admin_lozano/panel/hotel/addImages" method="post" name="newHotel" enctype="multipart/form-data" class="form-horizontal">
		        					<div class="form-group">
		                    			<label class="col-sm-3 control-label">Hotel: <span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<select name="hotel" class="form-control">
				                            	<option value="">Pick a Hotel:</option>
				                            	{{#hotel}}
				                            		<option value="{{idhotel}}">{{name}}</option>
												{{/hotel}}
											</select>
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Image:</label>
		                    			<div class="col-sm-6">
		                     				<input type="file"name="imagen" class="form-control">
											<span class="help-block">Image</span>
		                    			</div>
		                  			</div>
		                  			<hr>
		                  			<div class="row">
	                    				<div class="col-sm-9 col-sm-offset-8">
					                      <button class="btn btn-success btn-quirk btn-wide mr5">Save</button>
	                    				</div>
	                  				</div>
		        				</form>
		        			</div>
	        			</div>
        			</div>
    			</div>	
    		</div>
        {{/ content }}
		{{$ scripts }}
		{{/ scripts }}
	{{/ quirk }}