{{% BLOCKS }}
	{{< admin }}
		{{$ title}}
			Imagen Eliminado- Bali
		{{/ title}}
		{{$ meta}}
			{{# hotel}}
			<META HTTP-EQUIV=Refresh CONTENT="0.5; /panel/hotel/edit/{{id}}">
			{{/ hotel}}
        {{/ meta}}
		{{$ content }}
			<div id="page-content-wrapper">
            	<div class="container-fluid">			
					<div class="row">
				        <div class="col-lg-12">
				            <h1 class="page-header">Imagen Eliminado</h1>
				        </div>
				    </div>
					<div class="row">
				    	<div class="col-lg-12">
				        	<div class="panel panel-default">
				            	<div class="panel-heading">
				                	Imagen Eliminado
				            	</div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		{{/ content}}
		{{$ footerscripts }}
		{{/ footerscripts }}
	{{/ admin }}