{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Delete Image
        {{/ title}}
        {{$ meta}}
			<META HTTP-EQUIV=Refresh CONTENT="0.5;/panel/hotel/edit/{{id}}">
        {{/ meta}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Hotel</a></li>
			        <li class="active">Imagen Eliminada</li>
      			</ol>
    			<div class="row">
    				<div class="col-md-6 col-md-offset-3">
	        			<div class="panel">
	        				<div class="panel-heading">
	        					<h4 class="panel-title">Imagen Eliminada</h4>
	        				</div>
		        			<div class="panel-body">
		        				<hr>
		        				<p>Imagen Eliminada.</p>			
		        				<hr>
		        			</div>
	        			</div>
        			</div>
    			</div>	
    		</div>
        {{/ content }}
		{{$ scripts }}
		{{/ scripts }}
	{{/ quirk }}