{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Edit Hotel
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Hotel</a></li>
			        <li class="active">Edit Hotel</li>
      			</ol>
      			{{# hotel }}
	    			<div class="row">
	    				<div class="col-md-6 col-md-offset-3">
		        			<div class="panel">
		        				<div class="panel-heading">
		        					<h4 class="panel-title">Edit Hotel</h4>
		        				</div>
			        			<div class="panel-body">
			        				<hr>			
			        				<form class="form-horizontal" action="/bali/panel/hotel/edit/{{id}}" method="post" name="newHotel" enctype="multipart/form-data" class="form-horizontal">
			        					<div class="form-group">
			                    			<label class="col-sm-3 control-label">Name: <span class="text-danger">*</span></label>
			                    			<div class="col-sm-6">
			                      				<input type="text" name="name" class="form-control" placeholder="Write the hotel's name." value="{{name}}" required />
			                    			</div>
			                  			</div>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Address:</label>
			                    			<div class="col-sm-6">
			                     				<input type="text" name="address" class="form-control" placeholder="Write the hotel's address."  value="{{address}}"/>
			                    			</div>
			                  			</div>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Website:</label>
			                    			<div class="col-sm-6">
			                      				<input type="text" name="website" class="form-control" placeholder="Write the hotel's website." value="{{website}}"/>
			                   				</div>
			                  			</div>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Map:</label>
			                    			<div class="col-sm-6">
			                      				<input type="text" name="map" class="form-control" placeholder="Write the hotel's map (frame from google maps)." value="{{map}}"/>
			                   				</div>
			                  			</div>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Phone number:</label>
			                    			<div class="col-sm-6">
			                      				<input type="text" name="tel" class="form-control" placeholder="Write the hotel's phone." value="{{tel}}"/>
			                   				</div>
			                  			</div>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Email:</label>
			                    			<div class="col-sm-6">
			                      				<input type="text" name="email" class="form-control" placeholder="Write the hotel's email." value="{{email}}" />
			                   				</div>
			                  			</div>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Description:</label>
			                    			<div class="col-sm-6">
			                    				<textarea class="form-control" name="descripcion" placeholder="Write the hotel's description.">{{description}}</textarea>
			                   				</div>
			                  			</div>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Spanish Description:</label>
			                    			<div class="col-sm-6">
			                    				<textarea class="form-control" name="descripcion_spa" placeholder="Write the hotel's spanish description.">{{description_esp}}</textarea>
			                   				</div>
			                  			</div>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">Thumbnail:</label>
			                    			<div class="col-sm-6">
			                    				<img src="/bali/assets/img/hotel-thumb/{{thumbnail}}" height="250px" width="250px"/>
			                    				<input type="file"name="thumbnail">
												 <span class="help-block">THUMBNAIL Image size (000px*000px)</span>
			                   				</div>
			                  			</div>
			                  			<div class="row">
		                    				<div class="col-sm-9 col-sm-offset-8">
						                      <button class="btn btn-success btn-quirk btn-wide mr5">Save</button>
		                    				</div>
		                  				</div>
		                  				<hr>
			                  			<div class="form-group">
			                    			<label class="col-sm-3 control-label">New Image:</label>
			                    			<div class="col-sm-6">
			                    				<a href="/bali/panel/hotel/addImages" target="_blank"><button type="button" class="btn btn-success btn-quirk btn-wide mr5">New Image</button></a>	
			                   				</div>
			                  			</div>
			                  			<hr>
			        				</form>
			        			</div>
		        			</div>
	        			</div>
	    			</div>
	    			<div class="row">
        				<div class="col-md-8 col-md-offset-2">
        					{{# images }}
        						<div class="col-md-4">
		          					<div class="panel">
		            					<div class="panel-heading">
		              						<h4 class="panel-title">Image {{url}}</h4>
		            					</div>
		            					<div class="panel-body">
		              						<img src="/bali/assets/img/hotel/{{id_hotel}}/{{url}}" class="img-rounded " width="200" height="150" >
							                 <a href="/bali/panel/hotel/editImages/{{id}}"><button type="button" class="btn btn-success btn-quirk"><i class="fa fa-pencil"></i></button></a>
							                 <a onclick=myFunction({{id}})><button type="button" class="btn btn-danger btn-quirk"><i class="fa fa-times"></i></button></a>
		            					</div>
		          					</div>
          						</div>
        					{{/ images }}
        					<script>
                                function myFunction(id) {
                                    if (confirm("Estas Seguro de Eliminar?") == true) {
                                        self.location = "/bali/panel/hotel/deleteImages/"+id; 
                                    } 
                                }
                            </script>
          				</div>
        			</div>
	    		{{/ hotel }}	
	    	</div>
        {{/ content }}
		{{$ scripts }}
		{{/ scripts }}
	{{/ quirk }}