{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Edit Hotel Video
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Hotel</a></li>
			        <li class="active">Edit Video Image</li>
      			</ol>
	    		<div class="row">
	    			<div class="col-md-10 col-md-offset-1">
		        		<div class="panel">
		        			<div class="panel-heading">
		        				<h4 class="panel-title">Edit Hotel Video</h4>
		        			</div>
			        		<div class="panel-body">
			        			<hr>
			        			{{# video}}			
					        		<form class="form-horizontal" action="/bali/panel/hotel/editVideo/{{idhotelImages}}" method="post" name="newHotel"  class="form-horizontal">
					        			<div class="form-group">
					                    	<label class="col-sm-3 control-label">Actual  Video:</label>
					                    	<div class="col-sm-6">
					                      		{{# hotel}}
						                            <p>{{name}}</p>
						                        {{/ hotel}}
						                        {{&path}}
					                    	</div>
					                  	</div>
					                  	<div class="form-group">
			                    			<label class="col-sm-3 control-label">Video: Width:300 Height:100</label>
			                    			<div class="col-sm-6">
			                     				<input type="text" class="form-control" name="video" placeholder="Write the hotel's youtube video."/>
			                   				</div>
			               				</div>
					               		<div class="row">
				                  			<div class="col-sm-9 col-sm-offset-8">
							                   	<button class="btn btn-success btn-quirk btn-wide mr5">Save</button>
			                    			</div>
			                  			</div>	
					        		</form>
			        			{{/ video}}
			        		</div>
		        		</div>
	        		</div>
	    		</div>
	    	</div>
        {{/ content }}
		{{$ scripts }}
		{{/ scripts }}
	{{/ quirk }}