{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Show Hotel's Transfers
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Transfers</a></li>
			        <li class="active">Show Hotel's Transfers</li>
      			</ol>
    			<div class="row">
    				<div class="col-md-10 col-md-offset-1">
	        			<div class="panel">
	        				<div class="panel-heading">
	        					<h4 class="panel-title">Show Hotel's Transfers</h4>
	          					<p>List of all registered transfers</p>
	        				</div>
		        			<div class="panel-body">
		        				<hr>
		        				<div class="table-responsive">
		        					 <table id="dataTable1" class="table table-bordered table-striped-col">
		        					 	<thead>
							                <tr>
							                  <th>Title</th>
							                  <th>Edit</th>
							                  <th>Delete</th>
							                </tr>
              							</thead>
							            <tfoot>
											<tr>
							                  <th>Title</th>
							                  <th>Edit</th>
							                  <th>Delete</th>
							                </tr>
							            </tfoot>
							            <tbody>
							            	{{# tHotel }}
							            		<tr>
							            			<td>
							            				{{hotel.name}}
							            			</td>
							            			<td>
							            				<a href="/panel/transfer/editHotel/{{idhotelTransfer}}">
                                                            <button type="button" class="btn btn-primary">
                                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                                                            </button>
                                                        </a>
                                                    </td>
							            			<td>
							            				<a onclick="myFunction({{idhotelTransfer}})">
                                                            <button type="button" class="btn btn-danger">
                                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                                            </button>
                                                        </a>
							            			</td>
							            		</tr>
							            	{{/ tHotel }}
							            </tbody>
		        					 </table>
		        				</div>
		        				<script>
                                    function myFunction(id) {
                                    	if (confirm("Estas Seguro de Eliminar?") == true) {
											self.location = "/bali/panel/transfer/hotelDelete/"+id;                            
										} 
									}
                                </script>		
		        			</div>
	        			</div>
        			</div>
    			</div>	
    		</div>
        {{/ content }}
		{{$ scripts }}
			<script src="/bali/assets/quirk/lib/datatables/jquery.dataTables.js"></script>
			<script src="/bali/assets/quirk/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
			<script src="/bali/assets/quirk/lib/select2/select2.js"></script>
			<script>
				$(document).ready(function() {
  					'use strict';
  					$('#dataTable1').DataTable();
  					var exRowTable = $('#exRowTable').DataTable({
    					responsive: true,
    					'fnDrawCallback': function(oSettings) {
      					$('#exRowTable_paginate ul').addClass('pagination-active-success');
    					},
    					'ajax': 'ajax/objects.txt',
    					'columns': [{
      						'class': 'details-control',
      						'orderable': false,
      						'data': null,
      						'defaultContent': ''
    						},
	    					{ 'data': 'name' },
	    					{ 'data': 'position' },
	    					{ 'data': 'office' },
	    					{ 'data': 'start_date'},
	    					{ 'data': 'salary' }
    					],
    					'order': [[1, 'asc']]
  					});
				  	// Add event listener for opening and closing details
				  	$('#exRowTable tbody').on('click', 'td.details-control', function () {
					    var tr = $(this).closest('tr');
					    var row = exRowTable.row( tr );
					    if ( row.child.isShown() ) {
					      // This row is already open - close it
					      row.child.hide();
					      tr.removeClass('shown');
					    } else {
					      // Open this row
					      row.child( format(row.data()) ).show();
					      tr.addClass('shown');
					    }
  					});

  					function format (d) {
    					// `d` is the original data object for the row
    					return '<h4>'+d.name+'<small>'+d.position+'</small></h4>'+
    					'<p class="nomargin">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>';
  					}

  					// Select2
  					$('select').select2({ minimumResultsForSearch: Infinity });

				});
			</script>
		{{/ scripts }}
	{{/ quirk }}