{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Add User
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>User</a></li>
			        <li class="active">Add User</li>
      			</ol>
    			<div class="row">
    				<div class="col-md-6 col-md-offset-3">
	        			<div class="panel">
	        				<div class="panel-heading">
	        					<h4 class="panel-title">User Form</h4>
	          					<p>Please fill the next form. Thanks.</p>
	        				</div>
		        			<div class="panel-body">
		        				<hr>			
		        				<form class="form-horizontal" action="/bali/panel/user/add" method="post" name="newUser" class="form-horizontal">
		        					<div class="form-group">
		                    			<label class="col-sm-3 control-label">First Name: <span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="name" class="form-control" placeholder="Write a first name." required />
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Last Name:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                     				<input type="text" name="app" class="form-control" placeholder="Write a last name." required/>
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">User:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="user" class="form-control" placeholder="Write a user." required />
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Password:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="password" name="pass" class="form-control" placeholder="Write a password" required/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Confirm Password:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="password" name="pass2" class="form-control" placeholder="Write a password." required/>
		                   				</div>
		                  			</div>
		                  			<hr>
		                  			<div class="row">
	                    				<div class="col-sm-9 col-sm-offset-8">
					                      <button class="btn btn-success btn-quirk btn-wide mr5">Save</button>
	                    				</div>
	                  				</div>
		        				</form>
		        			</div>
	        			</div>
        			</div>
    			</div>	
    		</div>
        {{/ content }}
		{{$ scripts }}
			<script>
				window.onload = function () {
					document.newUser.name.focus();
					document.newUser.addEventListener('submit', validarFormulario);
				}
 
				function validarFormulario(evObject) {
					evObject.preventDefault();
					var todoCorrecto = true;
					var formulario = document.newUser;
    				re_user = /^\w+$/;
    				re_pass1 = /[0-9]/;
    				if(!re_user.test(formulario.user.value)) {
      					alert("Error:The user only contain letters , numbers and underscore.");
      					form.user.focus();
      					todoCorrecto=false;
    				}
    				else if(re_pass1.test(formulario.name.value)){
    					alert("Error: The first name only contain letters.");
      					form.name.focus();
      					todoCorrecto=false;
    				}
    				else if(re_pass1.test(formulario.app.value)){
    					alert("Error: The last name only contain letters.");
      					form.app.focus();
      					todoCorrecto=false;
    				}
    				else if(formulario.pass.value!=formulario.pass2.value && formulario.pass.value!=""){
						alert("Error: The passwords do not match.");
						form.pass.focus();
						todoCorrecto=false;
					}
					else if(formulario.pass.value.length<6){
						alert("The password must contain at least 6 characters.");
						form.pass.focus();
						todoCorrecto=false;
					}
					if (todoCorrecto ==true) {formulario.submit();}
				}
			</script>
		{{/ scripts }}
	{{/ quirk }}