{{% BLOCKS }}
	{{< quirk }}
		{{$ title}}
            Edit Profile
        {{/ title}}
        {{$ content }}
    		<div class="contentpanel">
    			<ol class="breadcrumb breadcrumb-quirk">
			        <li><a href=""><i class="fa fa-home mr5"></i>Profile</a></li>
			        <li class="active">Edit Profile</li>
      			</ol>
    			<div class="row">
    				<div class="col-md-10 col-md-offset-1">
	        			<div class="panel">
	        				<div class="panel-heading">
	        					<h4 class="panel-title">Edit Profile</h4>
	          					<p>Edit your info.</p>
	        				</div>
		        			<div class="panel-body">
		        				<hr>			
		        				<form class="form-horizontal" action="/bali/panel/profile/edit" method="post" name="newUser" class="form-horizontal">
		        					<div class="form-group">
		                    			<label class="col-sm-3 control-label">First Name: <span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="name" class="form-control" placeholder="Write a name." required value="{{#user}}{{nombre}}{{/user}}"/>
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Last Name:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                     				<input type="text" name="app" class="form-control" placeholder="Write a last name." required value="{{#user}}{{papellido}}{{/user}}"/>
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Mother's Last Name:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                     				<input type="text" name="apm" class="form-control" placeholder="Write a Mother's Last Name." required value="{{#user}}{{mapellido}}{{/user}}"/>
		                    			</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">User:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="email" class="form-control" placeholder="Write a user." required  readonly value="{{#user}}{{usuario}}{{/user}}"/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Password:</label>
		                    			<div class="col-sm-6">
		                      				<input type="password" name="pass" class="form-control" placeholder="Write a password" />
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Confirm Password:</label>
		                    			<div class="col-sm-6">
		                      				<input type="password" name="pass2" class="form-control" placeholder="Write a password." />
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Phone Number:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="tel" class="form-control" placeholder="Write a phone number." required value="{{#user}}{{telefono}}{{/user}}"/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">IATA:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="iata" class="form-control" placeholder="Write a IATA." required required value="{{#user}}{{iata}}{{/user}}"/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Member to an Affiliation or Program:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="text" name="member" class="form-control" placeholder="Write Yes or No, if Yes also write the name of the program." required required value="{{#user}}{{miembros}}{{/user}}"/>
		                   				</div>
		                  			</div>
		                  			<div class="form-group">
		                    			<label class="col-sm-3 control-label">Years in Business:<span class="text-danger">*</span></label>
		                    			<div class="col-sm-6">
		                      				<input type="number" name="years" class="form-control" placeholder="Write a number of years." required value="{{#user}}{{years}}{{/user}}"/>
		                   				</div>
		                  			</div>
		                  			<hr>
		                  			<div class="row">
	                    				<div class="col-sm-9 col-sm-offset-8">
					                      <button class="btn btn-success btn-quirk btn-wide mr5">Save</button>
	                    				</div>
	                  				</div>
		        				</form>
		        				<hr>
		        			</div>
	        			</div>
        			</div>
    			</div>	
    		</div>
        {{/ content }}
		{{$ scripts }}
		{{/ scripts }}
	{{/ quirk }}