{{% BLOCKS }}
{{< panel_esp}}
	{{$content}}
		<div class="fit">
			<row>
				<column	cols="8">
					<p class="intro"><b>Lozano Travel Bali</b> es el DMC (Destination Management Company) de Lozano Travel, una agencia de viajes Virtuoso, operando a lo largo de 33 años con sede en la Ciudad de México y su casa matriz en Laredo Texas.</p>
				</column>
				<column	cols="3">
					<div class="element">
						<form action="" method="post" class="forms">
							<img src="/admin_lozano/assets/img/login/login-title.png">
							<section>
								<label>
									Usuario
								</label>
								<input name="usuario" type="text" />
							</section>
							<section>
								<label>
									Contraseña
								</label>
								<input name="password" type="password" />
							</section>
							<section>
								<!--<a href="/admin_lozano/register" class="lbl">Registrate</a> |
								<a href="/admin_lozano/forgot" class="lbl">Olvidaste tu Contraseña</a>-->
								<br>
								<br>
								<button type="primary">Inicia Sesión</button> 
							</section>
						</form>
					</div>
				</column>
			</row>
		</div>
		<img src="/admin_lozano/assets/img/imagenes_pleca.jpg" class="hide-mobile">
	{{/content}}
{{/ panel_esp}}