{{% BLOCKS }}
{{< panel}}
	{{$content}}
		<div class="fit">
			<row>
				<column	cols="8">
					<p class="intro"><b>Lozano Travel Bali</b> is the Destination Management Company of Lozano Travel – <br> A Virtuoso Travel Agency based in Mexico City with headquarters in Laredo, Texas <br> that has been operating for the past 33 years.</p>
				</column>
				<column	cols="3">
					<div class="element">
						<form action="" method="post" class="forms">
							<img src="/bali/assets/img/login/login-title.png">
							<section>
								<label>
									User
								</label>
								<input name="usuario" type="text" />
							</section>
							<section>
								<label>
									Password
								</label>
								<input name="password" type="password" />
							</section>
							<section>
								<button type="primary">Log in</button> 
							</section>
						</form>
					</div>
				</column>
			</row>
		</div>
		<img src="/bali/assets/img/imagenes_pleca.jpg">
	{{/content}}
{{/ panel}}