{{% BLOCKS }}
{{< panel_esp}}
	{{$content}}
		<div class="fit">
			<row>
				<column	cols="8">
					<p class="intro"><b>Lozano Travel Bali</b> es la empresa de gestión de destinos de Lozano Travel – <br> Una virtuosa agencia de viajes  con sede en la Ciudad de México y con la casa matriz en Laredo , Texas <br> que ha estado operando desde hace 33 años.</p>
				</column>
				<column	cols="3">
					<div class="element">
						<form action="" method="post" class="forms">
							<img src="/bali/assets/img/login/login-title.png">
							<section>
								<label>
									Usuario
								</label>
								<input name="usuario" type="text" />
							</section>
							<section>
								<label>
									Contraseña
								</label>
								<input name="password" type="password" />
							</section>
							<section>
								<a href="/bali/Register" class="lbl">Registrate</a> |
								<a href="/bali/forgot" class="lbl">Olvidaste tu Contraseña</a>
								<br>
								<br>
								<button type="primary">Inicia Sesión</button> 
							</section>
						</form>
					</div>
				</column>
			</row>
		</div>
		<img src="/bali/assets/img/imagenes_pleca.jpg">
	{{/content}}
{{/ panel_esp}}