{{% BLOCKS }}
{{< panel}}
	{{$content}}
		<div class="hotel-trans">
			<br>
			<row>
				<column cols="1"></column>
				<column cols="10">
					<row>
						<script>
							var path = "";
							var href = window.location.pathname
							var s = href.split("/");
							for (var i=3;i<(s.length-1);i++) {
								path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
							}
							i=s.length-1;
							path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
							var url = "<p id=bread>" + path+"</p>";
							document.writeln(url);
			 			</script>
					</row>
					<row>
						<a href="/bali/en/travelAgent"  id="back" ><i class="fa fa-reply"></i> Back</a>
					</row>		
					<row>
						<column cols="8">
							<h1 style="text-align:left;">AMANUSA</h1>
							<br>
							<a style="color:#C39323;" href="/bali/en/hotel-collection/amanusa" target="_black">go to description page</a>
						</column>
						<column cols="4">
						<br>
							<h2> Address</h2>
							<p>Jl. Nusa Dua, Benoa, Kuta Sel., Kabupaten Badung, Bali, Indonesia</p>
							<a style="text-decoration:none; color:#C39323;" href="https://www.aman.com/resorts/amanusa" target="_black">https://www.aman.com/resorts/amanusa</a>
						</column>
					</row>
					<hr>
					<h2>2016-2017 NETT RATES</h2>
					<table>
						<tr class="main">
							<td class="data1" rowspan="3">CATEGORIES</td>
							<td class="data1" rowspan="3"> <br>MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1" rowspan="3">
								<br>HIGH SEASON<br>
								01/Aug/2016 - 31/Aug/2016
							</td>
							<td class="data1" rowspan="3">
								<br>PEAK SEASON<br>
								21/Dec/2016 - 21/Duc/2017
							</td>
						</tr>
						<tr class="main"><td class="data1">01/Apr/2016 - 14/Jul/2016</td></tr>
						<tr class="main"><td class="data1">01/Sep/2016 - 20/Dec/2016</td></tr>

						<tr>
							<td class="data1">GARDEN SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 739</td>
							<td class="data1">USD 843</td>
							<td class="data1">USD 1,002</td>
						</tr>
						<tr>
							<td class="data1">DELUXE SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 949</td>
							<td class="data1">USD 1,054</td>
							<td class="data1">USD 1,265</td>
						</tr>
						<tr>
							<td class="data1">POOL SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 1,265</td>
							<td class="data1">USD 1,369</td>
							<td class="data1">USD 1,580</td>
						</tr>
						<tr>
							<td class="data1">VILLA 3 BEDROOMS</td>
							<td class="data1">9ADT/ 6ADT & 3CHD</td>
							<td class="data1">USD 3,685</td>
							<td class="data1">USD 3,685</td>
							<td class="data1">USD 3,685</td>
						</tr>
						<tr>
							<td class="data1">VILLA 4 BEDROOMS</td>
							<td class="data1">12ADT/ 8ADT & 4CHD</td>
							<td class="data1">USD 4,474</td>
							<td class="data1">USD 4,474</td>
							<td class="data1">USD 4,474</td>
						</tr>
						<tr>
							<td class="data1">VILLA 5 BEDROOMS</td>
							<td class="data1">15ADT/ 101DT & 5CHD</td>
							<td class="data1">USD 5,263</td>
							<td class="data1">USD 5,263</td>
							<td class="data1">USD 5,263</td>
						</tr>
						<tr>
							<td class="data1">VILLA 6 BEDROOMS</td>
							<td class="data1">18ADT/ 12ADT & 6CHD</td>
							<td class="data1">USD 6,315</td>
							<td class="data1">USD 6,315</td>
							<td class="data1">USD 6,315</td>
						</tr>						
					</table>
					<h2>CONDITIONS</h2>
					<ul>
						<li>The above rates are quoted in USD dollars. All government fees and services charges are subject to changes without prior notice.				</li>
						<li>Rates quote apply to single or double occupancy are inclusive of breakfast for 2 people per room per night.				</li>
						<li>Third adult will be quoted $165 net per room per day with extra bed and breakfast included. Not apply for children below 12 years old, and sharing with guardians.</li>
					</ul>
					<h2>PACKAGES</h2>
					<h3>Amanusa Golf Experiences</h3>
					<table>
						<tr class="main">
							<td class="data1" rowspan="3">CATEGORIES</td>
							<td class="data1" rowspan="3"> <br>MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1" rowspan="3">
								<br>HIGH SEASON<br>
								01/Aug/2016 - 31/Aug/2016
							</td>
						</tr>
						<tr class="main"><td class="data1">01/Apr/2016 - 31/Jul/2016</td></tr>
						<tr class="main"><td class="data1">01/Sep/2016 - 20/Dec/2016</td></tr>
						<tr>
							<td class="data1">GARDEN / VILLAGE SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 2,213</td>
							<td class="data1">USD 2,526</td>
						</tr>
						<tr>
							<td class="data1">DELUXE / OCEAN / VALLEY SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 2,842</td>
							<td class="data1">USD 3,159</td>
						</tr>
						<tr>
							<td class="data1">POOL SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 3,791</td>
							<td class="data1">USD 4,104</td>
						</tr>
						<tr>
							<td class="data1">VILLA 3 BEDROOMS</td>
							<td class="data1">9ADT/ 6ADT & 3CHD</td>
							<td class="data1">USD 11,050</td>
							<td class="data1">USD 11,050</td>
						</tr>
						<tr>
							<td class="data1">VILLA 4 BEDROOMS</td>
							<td class="data1">12ADT/ 8ADT & 4CHD</td>
							<td class="data1">USD 13,417</td>
							<td class="data1">USD 13,417</td>
						</tr>
						<tr>
							<td class="data1">VILLA 5 BEDROOMS</td>
							<td class="data1">15ADT/ 101DT & 5CHD</td>
							<td class="data1">USD 15,785</td>
							<td class="data1">USD 15,785</td>
						</tr>
						<tr>
							<td class="data1">VILLA 6 BEDROOMS</td>
							<td class="data1">18ADT/ 12ADT & 6CHD</td>
							<td class="data1">USD 18,941</td>
							<td class="data1">USD 18,941</td>
						</tr>
					</table>
					<h2>INCLUSIONS</h2>
					<ul>
						<li>Three nights accommodation</li>
						<li>Daily breakfast for two per room</li>
						<li>2 rounds of golf for 2 person per stay (at Bali National Golf course or Kuta Pecatu)</li>
						<li>Complimentary transfers by Car</li>
					</ul>
					<h3>AMAN BALI EXPERIENCE</h3>
					<table>
						<tr class="main">
							<td class="data1" rowspan="3">CATEGORIES</td>
							<td class="data1" rowspan="3"> <br>MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1" rowspan="3">
								<br>HIGH SEASON<br>
								01/Aug/2016 - 31/Aug/2016
							</td>
						</tr>
						<tr class="main"><td class="data1">01/Apr/2016 - 31/Jul/2016</td></tr>
						<tr class="main"><td class="data1">01/Sep/2016 - 20/Dec/2016</td></tr>
						<tr>
							<td class="data1">GARDEN / VILLAGE SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 3,791</td>
							<td class="data1">USD 4,424</td>
						</tr>
						<tr>
							<td class="data1">DELUXE / OCEAN / VALLEY SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 5,050</td>
							<td class="data1">USD 5,683</td>
						</tr>
						<tr>
							<td class="data1">POOL SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 6,948</td>
							<td class="data1">USD 7,580</td>
						</tr>
					</table>
					<h2>INCLUSIONS</h2>
					<ul>
						<li>Six night accommodation at Amandari, Amankila or Amanusa (at least two resorts)</li>
						<li>Return Airport transfers</li>
						<li>Daily breakfast</li>
						<li>One activity per person, per resort per stay</li> 
						<li class="list-style-type: none;" >*3rd occupant will be charged at US$165 and shall be entitled to above inclusion under the “Aman Bali Experience” offer.</li>
					</ul>
					<h3>AMAN BALI BREAK</h3>
					<table>
						<tr class="main">
							<td class="data1" rowspan="3">CATEGORIES</td>
							<td class="data1" rowspan="3"> <br>MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1" rowspan="3">
								<br>HIGH SEASON<br>
								01/Aug/2016 - 31/Aug/2016
							</td>
						</tr>
						<tr class="main"><td class="data1">01/Apr/2016 - 31/Jul/2016</td></tr>
						<tr class="main"><td class="data1">01/Sep/2016 - 20/Dec/2016</td></tr>
						<tr>
							<td class="data1">GARDEN / VILLAGE SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 1,908</td>
							<td class="data1">USD 2,202</td>
						</tr>
						<tr>
							<td class="data1">DELUXE / OCEAN / VALLEY SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 2,496</td>
							<td class="data1">USD 2,790</td>
						</tr>
						<tr>
							<td class="data1">POOL SUITE</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 3,375</td>
							<td class="data1">USD 3,669</td>
						</tr>
					</table>
					<h2>INCLUSIONS</h2>
					<ul>
						<li>Three night accommodation at Amandari, Amankila or Amanusa (1 or combination of the 3 resorts)</li>
						<li>Return Airport transfers</li>
						<li>Daily breakfast</li>
						<li>One activity per person</li> 
						<li class="list-style-type: none;" >*3rd occupant will be charged at US$165</li>
					</ul>

					<p class="trans">Example activities include:</p>
					<p class="trans">Amandari Activity Selection:</p>
					<ul>
						<li>Cycling from Amandari to Ubud via small villages</li>
						<li>Ayung River Trek / Campuhan Trek / Rice Terrace Trek</li>
						<li>Amandari massage</li>
						<li>Guided tour of a local market</li>
						<li>Private Balinese dance class</li>
						<li>Afternoon tea at Sunset Point</li>
					</ul>
					<p class="trans">Amanusa Activity Selection:</p>
					<ul>
						<li>Amanusa Balinese massage</li>
						<li>Uluwatu temple tour</li>
						<li>Souffle cooking class</li>
						<li>Private Tennis lesson</li>
						<li>Balinese Hindu blessing</li>
						<li>2 hours complimentary car transfer</li>
					</ul>
					<p class="trans">Amankila Activity Selection:</p>
					<ul>
						<li>Morning cruise on Aman XII</li>
						<li>1 hour Amankila massage</li>
						<li>East Bali Trek / East Bali Cycle / East Bali Tour</li>
					</ul>
				</column>
			</row>
		</div>		
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}