{{% BLOCKS }}
{{< panel}}
	{{$content}}
		<div class="hotel-trans">
			<br>
			<row>
				<column cols="1"></column>
				<column cols="10">
					<row>
						<script>
							var path = "";
							var href = window.location.pathname
							var s = href.split("/");
							for (var i=3;i<(s.length-1);i++) {
								path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
							}
							i=s.length-1;
							path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
							var url = "<p id=bread>" + path+"</p>";
							document.writeln(url);
			 			</script>
					</row>
					<row>
						<a href="/bali/en/travelAgent"  id="back" ><i class="fa fa-reply"></i> Back</a>
					</row>		
					<row>
						<column cols="8">
							<h1 style="text-align:left;">UMA BY COMO, UBUD</h1>
							<br>
							<a style="color:#C39323;" href="/bali/en/hotel-collection/uma-by-como,-ubud" target="_black">go to description page</a>
						</column>
						<column cols="4">
						<br>
							<h2> Address</h2>
							<p>Jalan Raya Sanggingan, Banjar Lungsiakan, Kedewatan, Ubud, Kec. Gianyar, Bali, Indonesia</p>
							<a style="text-decoration:none; color:#C39323;" href="http://www.comohotels.com/umaubud/" target="_black">http://www.comohotels.com/umaubud/</a>
						</column>
					</row>
					<hr>
					<h2>2016-2017 NETT RATES</h2>
					<table>
						<tr class="main">
							<td class="data1" rowspan="4">CATEGORIES</td>
							<td class="data1" rowspan="4"> <br>MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1">
								HIGH SEASON
							</td>
						</tr>
						<tr class="main"><td class="data1">01/Apr/2016 - 14/Jul/2016</td><td class="data1">15/Jul/2016 - 26/Sep/2016</td></tr>
						<tr class="main"><td class="data1">16/Sep/2016 - 19/Dec/2016</td><td class="data1" rowspan="2">20/Dec/2016 - 06/Jan/2017</td></tr>
						<tr class="main"><td class="data1">07/Jan/2017 - 31/Mar/2017</td></tr>
						<tr>
							<td class="data1">UBUD ROOM</td>
							<td class="data1">3ADT/2ADT & 1CHD</td>
							<td class="data1">USD 274</td>
							<td class="data1">USD 296</td>
						</tr>
						<tr>
							<td class="data1">TERRACE ROOM</td>
							<td class="data1">3ADT/2ADT & 1CHD</td>
							<td class="data1">USD 285</td>
							<td class="data1">USD 317</td>
						</tr>
						<tr>
							<td class="data1">TERRACE ROOM W/POOL</td>
							<td class="data1">3ADT/2ADT & 1CHD</td>
							<td class="data1">USD 339</td>
							<td class="data1">USD 372</td>
						</tr>
						<tr>
							<td class="data1">WATER GARDEN ROOM</td>
							<td class="data1">3ADT/2ADT & 1CHD</td>
							<td class="data1">USD 285</td>
							<td class="data1">USD 317</td>
						</tr>
						<tr>
							<td class="data1">POOL SUITE</td>
							<td class="data1">3ADT/2ADT & 1CHD</td>
							<td class="data1">USD 328</td>
							<td class="data1">USD 350</td>
						</tr>
						<tr>
							<td class="data1">UMA VILLA</td>
							<td class="data1">3ADT/2ADT & 1CHD</td>
							<td class="data1">USD 361</td>
							<td class="data1">USD 393</td>
						</tr>
						<tr>
							<td class="data1">UMA POOL VILLA</td>
							<td class="data1">3ADT/2ADT & 1CHD</td>
							<td class="data1">USD 469</td>
							<td class="data1">USD 502</td>
						</tr>
						<tr>
							<td class="data1">COMO VILLA</td>
							<td class="data1">3ADT/2ADT & 1CHD</td>
							<td class="data1">USD 513</td>
							<td class="data1">USD 535</td>
						</tr>		
					</table>
					<p class="trans">(Inclusive of 10% service changes & 11% government tax and daily breakfast)			
</p>
					<h2>CONDITIONS</h2>
					<ul>
						<li>The above rates are quoted in USD dollars. All government fees and services charges are subject to changes without prior notice.</li>			
						<li>Rates quote apply to single or double occupancy, are inclusive of breakfast for 2 people per room per night.</li>			
						<li>Extra person up to 13 years old will be quoted $77 net per room with extra bed and breakfast included</li>			
						<li>Children Policy: children of 12 years and under can stay in their parent’s room free of charge, the children’s breakfast will be free of charge, can dine for free (all meals), providing at least one adult is dining. Can purchase the Half Board and Full Board Dining Supplements  and Children dining off our restaurant a’ la carte menus, opting for a child size portion will be charged at 50% of the Published Rate.			
						During the Christmas/New Year season: 20 December 2016 to 06 January 2017, a minimum of three (3) nights stay is required.</li>			
						<li>There is a compulsory New Year’s Eve Gala Dinner on 31 December 2016. Rate is subject to an additional 21% tax and service charge. Rate is to be advised closer to date along with menu.</li>			

					</ul>
					<h2>OFFERS</h2>
					<p class="trans"><b>Bonus Night:</b> Stay 4/Pay3 Valid for all categories between 01/Apr/16 - 18/May/16, 24/May/16 - 31/May-16, 1/Oct/16- 19/Dec/16,</p>
					  <p class="trans">07/Jan/17 - 24/Jan/17 & 01/Feb/17 - 31/Mar/17. Not available with Long Stay Offer, Packages rates and any other promotions.</p>			
					<p class="trans"><b>Long Stay:</b> Validity: 01/Apr/16 - 31/May/16,  01/Oct/16 - 19/Dec/16 & 07/Jan/17 - 31/Mar/17</p>
					<p class="trans">Guests staying for more than 7 nights will be entitled to:</p>
					<p class="trans">One way airport transfer and a choice of one of the following options:</p>
					<p class="trans">- One 60-minute massage per person (based on double occupancy)</p>
					<p class="trans">- One three course dinner (excluding beverages) per person (based on double occupancy)</p>
					<p class="trans">- One three course lunch (excluding beverages) per person (based on double occupancy)</p>			

					<h2>VALUE ADD</h2>
					<p class="trans"><b>Honeymoon Amenities</b></p>		
					<p class="trans">All honeymoon guests will receive:</p>	
					<ul>
						<li>Bottle of wine</li>		
						<li>Pralines</li>		
						<li>Honeymoon set up in the room upon arrival</li>
					</ul>		
					<p class="trans">Honeymoon amenities are valid throughout the contracting period and are combinable with all rates and		
					<p class="trans">promotions. Proof of marriage within 6 months must be presented at the time of booking.		
							
					<p class="trans"><b>Complimentary Services for all Guests</b></p>
					<ul>	
						<li>Welcome drink</li>		
						<li>Bottle water and fresh fruit daily in all rooms</li>		
						<li>daily guided morning walk</li>		
						<li>daily scheduled yoga class (schedule is subject to change without notice)</li>		
						<li>scheduled shuttle to Ubud town</li>		
						<li>Use of sauna, steam, gym and swimming pool</li>		
						<li>Internet Wi-Fi in the rooms and dedicated public areas of the hotel</li>		
					</ul>
					<h2>PACKAGE RATES</h2>
					<table>
						<tr class="main">
							<td class="data1" rowspan="2">ACOMODATION</td>
							<td class="data1" colspan="2">2 NIGHTS</td>
							<td class="data1" colspan="2" >3 NIGHTS</td>
							<td class="data1" colspan="2">4 NIGHTS</td>
						</tr>
						
						<tr class="main">
							<td class="data1">SINGLE</td> 
							<td class="data1" >DOUBLE</td>
							<td class="data1">SINGLE</td>
							<td class="data1" >DOUBLE</td>
							<td class="data1">SINGLE</td>
							<td class="data1" >DOUBLE</td>
						</tr>
						<tr>
							<td class="data1">UBUD ROOM</td>
							<td class="data1">USD 937</td>
							<td class="data1">USD 962</td>
							<td class="data1">USD 1,404</td>
							<td class="data1">USD 1,437</td>
							<td class="data1">USD 1,872</td>
							<td class="data1">USD 1,904</td>
						</tr>
						<tr>
							<td class="data1">TERRACE ROOM</td>
							<td class="data1">USD 969</td>
							<td class="data1">USD 1,002</td>
							<td class="data1">USD 1,453</td>
							<td class="data1">USD 1,486</td>
							<td class="data1">USD 1,937</td>
							<td class="data1">USD 1,969</td>
						</tr>
						<tr>
							<td class="data1">WATER GARDEN ROOM</td>
							<td class="data1">USD 969</td>
							<td class="data1">USD 1,002</td>
							<td class="data1">USD 1,453</td>
							<td class="data1">USD 1,486</td>
							<td class="data1">USD 1,937</td>
							<td class="data1">USD 1,969</td>
						</tr>
						<tr>
							<td class="data1">POOL SUITE</td>
							<td class="data1">USD 1,035</td>
							<td class="data1">USD 1,067</td>
							<td class="data1">USD 1,551</td>
							<td class="data1">USD 1,584</td>
							<td class="data1">USD 2,067</td>
							<td class="data1">USD 2,100</td>
						</tr>
						<tr>
							<td class="data1">UMA VILLA</td>
							<td class="data1">USD 1,100</td>
							<td class="data1">USD 1,133</td>
							<td class="data1">USD 1,649</td>
							<td class="data1">USD 1,681</td>
							<td class="data1">USD 2,198</td>
							<td class="data1">USD 2,230</td>
						</tr>
						<tr>
							<td class="data1">UMA POOL VILLA</td>
							<td class="data1">USD 1.306</td>
							<td class="data1">USD 1.339</td>
							<td class="data1">USD 1,959</td>
							<td class="data1">USD 1.991</td>
							<td class="data1">USD 2,611</td>
							<td class="data1">USD 2,643</td>
						</tr>
						<tr>
							<td class="data1">COMO VILLA</td>
							<td class="data1">USD 1,372</td>
							<td class="data1">USD 1,404</td>
							<td class="data1">USD 2,056</td>
							<td class="data1">USD 2,089</td>
							<td class="data1">USD 2,741</td>
							<td class="data1">USD 2,774</td>
						</tr>
					</table>
					<p class="trans">Package Validity: 1 April 2016 – 31 March 2017</p>
					<ul>
						<li>The above rates are based on single or double occupancy. 3rd Person will be charged accordingly at additional US$ 370 net per person for 2 nights package, US$ 555 net for 3 nights package and US$ 740	
						net for 4 nights package. Sharing the same room.</li>	
						<li>All meals include: Juice of the day at breakfast. Still water, coffee or tea at lunch and dinner. Romantic dinner also includes a glass of welcome cocktail.</li>	
						<li>Sparkling and imported waters, alcoholic beverages and carbonated soft drinks are chargeable.	
						the package rates above are available for the following themes:</li>	
					</ul>
					<table>
						<tr class="main">
							<td class="data1" >ROMANTIC ESCAPE</td>
							<td class="data1" >DISCOVER COMO SHAMBHALA</td>
							<td class="data1" >EXPLORE UBUD & BEYOND</td>
						</tr>
						<tr>
							<td class="data1">Package inclusions:
								<ul>
									<li>Accomodation</li>
									<li>Daily breakfast</li>
									<li>Daily lunch dinner</li>
								</ul>
								<b>Guests are also entitled to the following:</b>
								<ol style="list-style:none;">
									<li> 2 (two) additional activity for a 2-nights packages</li>
									<li> 3 (three) additional activities for a 3-nights package</li>
									<li> 4 (four) additional activities for a 4-nights package</li>
								</ol>
								<b>Activity choices are as follow:</b>
								<ul>
									<li>Three hour private chauffeured Ubud tour</li>
									<li>60 minutes couple private yoga lessons</li>
									<li>75 minutes couple treatment</li>
									<li>Romantic Dinner</li>
									<li>Private couple cooking class</li>
								</ul>
								<b>Activities are per couple or per room basis.</b>
							</td>
							<td class="data1">Package inclusions:
								<ul>
									<li>Accomodation</li>
									<li>Daily breakfast></li>
									<li>Daily lunch dinner</li>
								</ul>
								<b>Guests are also entitled to the following:</b>
								<ol style="list-style:none;">
									<li>2 (two) additional activity for a 2-nights packages</li>
									<li>3 (three) additional activities for a 3-nights package</li>
									<li>4 (four) additional activities for a 4-nights package</li>
								</ol>
								<b>Activity choices are as follow:</b>
								<ul>
									<li>60 minute private meditation</li>
									<li>60 minute private yoga</li>
									<li>60 minute facial</li>
									<li>75 minutes signature massage</li>
									<li>Healthy Lunch at COMO Shambhala Estate</li>
								</ul>
								<b>Activities are per person.</b>
							</td>
							<td class="data1">Package inclusions:
								<ul>
									<li>Accomodation</li>
									<li>Daily breakfast</li>
									<li>Daily lunch dinner</li>
								</ul>
								<b>Guests are also entitled to the following:</b>
								<ol  style="list-style:none;">
									<li> 2 (two) additional activity for a 2-nights packages</li>
									<li> 3 (three) additional activities for a 3-nights package</li>
									<li> 4 (four) additional activities for a 4-nights package</li>
								</ol>
								<b>Activity choices are as follow:</b>
								<ul>
									<li>Half day white water rafting on Ayung River</li>
									<li>Further afield - Tanah Lot Sunset Tour</li>
									<li>Tailor made- three hour Ubud discovery tour</li>
									<li>Uma experience - half dayKintamani freewheel bike ride</li>
									<li>Uma unique experiences - Bali Purification Ceremony at Tirta Empul</li>
								</ul>
								<b>Activities are per couple or per room basis.</b>
							</td>
						</tr>
					</table>
					<br>
					<table>
						<tr class="main">
							<td class="data1" ></td>
							<td class="data1" >Rates</td>
							<td class="data1" >Notes</td>
						</tr>
						<tr>
							<td class="data1">Breakfast</td>
							<td class="data1">USD 28</td>
							<td class="data1">All meals include: Juice of the day at breakfast.</td>
						</tr>
							<td class="data1">Lunch</td>
							<td class="data1">USD 49</td>
							<td class="data1">Still water, coffee or tea at lunch and dinner.</td>
						<tr>
							<td class="data1">Dinner</td>
							<td class="data1">USD 60</td>
							<td class="data1">Romantic dinner also includes welcome cocktail.</td>
						</tr>
						<tr>
							<td class="data1">Romantic Dinner </td>
							<td class="data1">USD 87</td>
							<td class="data1">Imported waters, alcoholic beverages and<br>
								carbonated soft drinks are chargeable.</td>
						</tr>
					</table>
				</column>
			</row>
		</div>		
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}