{{% BLOCKS }}
{{< panel}}
	{{$content}}
		<div class="hotel-trans">
			<br>
			<row>
				<column cols="1"></column>
				<column cols="10">
					<row>
						<script>
							var path = "";
							var href = window.location.pathname
							var s = href.split("/");
							for (var i=3;i<(s.length-1);i++) {
								path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
							}
							i=s.length-1;
							path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
							var url = "<p id=bread>" + path+"</p>";
							document.writeln(url);
			 			</script>
					</row>
					<row>
						<column cols="12">
							<a href="/bali/en/travelAgent#hotels"  id="back" ><i class="fa fa-reply"></i> Back</a>
							<button type="button" class="right" onclick="window.location.href='/bali/en/request'">REQUEST / INQUIRE</button>
						</column>
					</row>	
					<row>
						<column cols="8">
							<h1 style="text-align:left;">VICEROY BALI</h1>
							<br>
							<a style="color:#C39323;" href="/bali/en/hotel-collection/uma-by-como,-ubud" target="_black">go to description page</a>
						</column>
						<column cols="4">
						<br>
							<h2> Address</h2>
							<p>Br Nagi, Jl. Lanyahan, Petulu, Ubud, Kabupaten Gianyar, Bali, Indonesia</p>
							<a style="text-decoration:none; color:#C39323;" href="http://www.viceroybali.com/en/introduction.php" target="_black">http://www.viceroybali.com/en/introduction.php</a>
						</column>
					</row>
					<hr>
					<h2>2016-2017 NETT RATES</h2>
					<table>
						<tr class="main">
							<td class="data1" rowspan="4">CATEGORIES</td>
							<td class="data1" rowspan="4"> <br>MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1">
								HIGH SEASON
							</td>
						</tr>
						<tr class="main"><td class="data1">01/Apr/2016 - 14/Jul/2016</td><td class="data1">15/Jul/2016 - 26/Sep/2016</td></tr>
						<tr class="main"><td class="data1">01/Oct/2016 - 19/Dec/2016</td><td class="data1" rowspan="2">20/Dec/2016 - 06/Jan/2017</td></tr>
						<tr class="main"><td class="data1">17/Jan/2017 - 31/Mar/2017</td></tr>
						<tr>
							<td class="data1">GARDEN VILLA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 556</td>
							<td class="data1">USD 638</td>
						</tr>
						<tr>
							<td class="data1">TERRACE VILLA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 654</td>
							<td class="data1">USD 736</td>
						</tr>
						<tr>
							<td class="data1">DELUXE TERRACE VILLA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 719</td>
							<td class="data1">USD 801</td>
						</tr>
						<tr>
							<td class="data1">VICE REGAL VILLA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 850</td>
							<td class="data1">USD 931</td>
						</tr>
						<tr>
							<td class="data1">TWO BEDROOM VICEROY</td>
							<td class="data1">4ADT & 2CHD</td>
							<td class="data1">USD 1,502</td>
							<td class="data1">USD 1,584</td>
						</tr>	
					</table>
					<p class="trans">(Inclusive of 10% service changes & 11% government tax and daily breakfast)			
</p>
					<h2>CONDITIONS</h2>
					<ul>
						<li>The above rates are quoted in USD dollars. All government fees and services charges are subject to changes without prior notice.</li>			
						<li>Rates quote apply to single or double occupancy, are inclusive of breakfast for 2 people per room per night.</li>			

						<li>Children Policy: Viceroy Bali does not encourage children under the age of twelve but they are welcome but a parent or guardian will be required to sign an indemnity form. Child under 12 years of age sharing bed with parents is charged at USD 17 net/child/night including breakfast. Cot or Extra bed is charged at USD 82 net/child/night including breakfast.			
						</li>			
						<li>No check out on 31st December. No check in on 1st and 2nd January</li>	
						<li>Compulsory Gala New Year’s Eve Dinner on 31 Dec: + USD 350 per adult.</li>			
					</ul>
					<h2>OFFERS</h2>
					<p class="trans"><b>Bonus Night:</b> Stay 4/Pay3. Valid for all categories all season.</p>		

					<h2>VALUE ADD</h2>
					<p class="trans"><b>Standard Inclusions:</b></p>		
					<p class="trans">Pool Villa accommodation</p>		
					<p class="trans">Welcome drink, flowers and chilled towel on arrival</p>		
					<p class="trans">Daily a la carte breakfast</p>		
					<p class="trans">Free shuttle service in Ubud area for drop & pick up only</p> 		
					<p class="trans">Use of Jacuzzi & steam bath in Lembah Spa</p>		
					<p class="trans">Wi-Fi and Broadband internet access</p> 		
					<p class="trans">Use of cardio and resistance gymnasium</p>		
							
					<p class="trans"><b>Honeymooners:</b></p>
					<ul>
						<li>Heart shaped box of red roses upon arrival in villa</li>		
						<li>Petal bath on last night</li>		
						<li>Honeymoon Cake</li>		
					</ul>		
					<p class="trans"><b>Special Services (Two-Bedroom and Royal Villas):</b></p>
					<ul>		
						<li>Flower arrangements in the villas refreshed daily</li>		
						<li>Evening Canapé service and herbal tea for turndown (by Village Chef)</li>		
					</ul>
					<h2>2016 - 2017 PACKAGE RATES</h2>
					<table>
						<tr class="main">
							<td class="data1" rowspan="4">CATEGORIES</td>
							<td class="data1" rowspan="4"> <br>MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1">
								HIGH SEASON
							</td>
						</tr>
						<tr class="main"><td class="data1">01/Apr/2016 - 14/Jul/2016</td><td class="data1">15/Jul/2016 - 26/Sep/2016</td></tr>
						<tr class="main"><td class="data1">01/Oct/2016 - 19/Dec/2016</td><td class="data1" rowspan="2">20/Dec/2016 - 06/Jan/2017</td></tr>
						<tr class="main"><td class="data1">17/Jan/2017 - 31/Mar/2017</td></tr>
						<tr>
							<td class="data1">GARDEN VILLA 3N+TOUR+SPA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 1,839</td>
							<td class="data1">USD 2,084</td>
						</tr>
						<tr>
							<td class="data1">GARDEN VILLA 3N+TOUR+SPA+DINNER</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,052</td>
							<td class="data1">USD 2,297</td>
						</tr>
						<tr>
							<td class="data1">GARDEN VILLA 4N+TOUR</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 1,839</td>
							<td class="data1">USD 2,165</td>
						</tr>
						<tr>
							<td class="data1">GARDEN VILLA 4N+TOUR+DINNER</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,052</td>
							<td class="data1">USD 2,378</td>
						</tr>
						<tr>
							<td class="data1">GARDEN VILLA 4N+TOUR+DINNER+SPA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,226</td>
							<td class="data1">USD 2,552</td>
						</tr>	
						<tr>
							<td class="data1">TERRACE VILLA 3N+TOUR+SPA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,133</td>
							<td class="data1">USD 2,377</td>
						</tr>
						<tr>
							<td class="data1">TERRACE VILLA 3N+TOUR+SPA+DINNER</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,346</td>
							<td class="data1">USD 2,590</td>
						</tr>
						<tr>
							<td class="data1">TERRACE VILLA 4N+TOUR</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,133</td>
							<td class="data1">USD 2,459</td>
						</tr>
						<tr>
							<td class="data1">TERRACE VILLA 4N+TOUR+DINNER</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,346</td>
							<td class="data1">USD 2,672</td>
						</tr>
						<tr>
							<td class="data1">TERRACE VILLA 4N+TOUR+DINNER+SPA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,519</td>
							<td class="data1">USD 2,846</td>
						</tr>
						<tr>
							<td class="data1">DELUXE TERRACE VILLA 3N+TOUR+SPA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,328</td>
							<td class="data1">USD 2,573</td>
						</tr>
						<tr>
							<td class="data1">DELUXE TERRACE VILLA 3N+TOUR+SPA+DINNER</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,541</td>
							<td class="data1">USD 2,786</td>
						</tr>
						<tr>
							<td class="data1">DELUXE TERRACE VILLA 4N+TOUR</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,328</td>
							<td class="data1">USD 2,654</td>
						</tr>
						<tr>
							<td class="data1">DELUXE TERRACE VILLA 4N+TOUR+DINNER</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,541</td>
							<td class="data1">USD 2,867</td>
						</tr>
						<tr>
							<td class="data1">DELUXE TERRACE VILLA 4N+TOUR+DINNER+SPA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,715</td>
							<td class="data1">USD 3,041</td>
						</tr>
						<tr>
							<td class="data1">VICE REGAL VILLA 3N+TOUR+SPA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,719</td>
							<td class="data1">USD 2,964</td>
						</tr>
						<tr>
							<td class="data1">VICE REGAL VILLA 3N+TOUR+SPA+DINNER</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,933</td>
							<td class="data1">USD 3,177</td>
						</tr>
						<tr>
							<td class="data1">VICE REGAL VILLA 4N+TOUR</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,719</td>
							<td class="data1">USD 3,046</td>
						</tr>
						<tr>
							<td class="data1">VICE REGAL VILLA 4N+TOUR+DINNER</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 2,933</td>
							<td class="data1">USD 3,259</td>
						</tr>
						<tr>
							<td class="data1">VICE REGAL VILLA 4N+TOUR+DINNER+SPA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 3,106</td>
							<td class="data1">USD 3,433</td>
						</tr>
						<tr>
							<td class="data1">TWO BEDROOM VICEROY 3N+TOUR+SPA</td>
							<td class="data1">4ADT & 2CHD</td>
							<td class="data1">USD 4,676</td>
							<td class="data1">USD 4,921</td>
						</tr>
						<tr>
							<td class="data1">TWO BEDROOM VICEROY 3N+TOUR+SPA+DINNER</td>
							<td class="data1">4ADT & 2CHD</td>
							<td class="data1">USD 4,889</td>
							<td class="data1">USD 5,134</td>
						</tr>
						<tr>
							<td class="data1">TWO BEDROOM VICEROY 4N+TOUR</td>
							<td class="data1">4ADT & 2CHD</td>
							<td class="data1">USD 4,676</td>
							<td class="data1">USD 5,002</td>
						</tr>
						<tr>
							<td class="data1">TWO BEDROOM VICEROY 4N+TOUR+DINNER</td>
							<td class="data1">4ADT & 2CHD</td>
							<td class="data1">USD 4,889</td>
							<td class="data1">USD 5,215</td>
						</tr>
						<tr>
							<td class="data1">TWO BEDROOM VICEROY 4N+TOUR+DINNER+SPA</td>
							<td class="data1">4ADT & 2CHD</td>
							<td class="data1">USD 5,063</td>
							<td class="data1">USD 5,389</td>
						</tr>	
					</table>

					<p class="trans" style="text-align: center;">(Inclusive of 10% service changes & 11% government tax and daily breakfast)</p>			
					<p class="trans"><b>Rates Description:</b></p>			
					<p class="trans"><b>Tour:</b> choice of full day tour including transfers and entrance fee.</p>			
					<p class="trans"><b>Spa:</b> 2 hours couples spa treatment</p>			
					<p class="trans"><b>Dinner:</b> Romantic candle light dinner for 2 at CasCades Restaurant (Amuse Bouche, 5 Courses, coffee or tea, flowers & candles)</p>			
					<p class="trans"><b>3N:</b> Three Nights, <b>4N:</b> Four Nights</p>	
					<br>
					<h2>MEAL PLANS</h2>		

					<table>
						<tr class="main">
							<td class="data1" ></td>
							<td class="data1" >RATES</td>
						</tr>
						<tr>
							<td class="data1">3 COURSES SET MENU</td>
							<td class="data1">USD 66</td>
						</tr>
						<tr>
							<td class="data1">4 COURSES SET MENU</td>
							<td class="data1">USD 82</td>
						</tr>
						<tr>
							<td class="data1">HALF BROAD</td>
							<td class="data1">USD 77</td>
						</tr>
						<tr>
							<td class="data1">FULL BROAD</td>
							<td class="data1">USD 153</td>
						</tr>
						<tr>
							<td class="data1">INDONESIAN DEGUSTATION</td>
							<td class="data1">USD 82</td>
						</tr>	
						<tr>
							<td class="data1">EUROPEAN DEGUSTATION</td>
							<td class="data1">USD 109</td>
						</tr>
						<tr>
							<td class="data1">ROMANTIC CANDLELIGHT DINNER</td>
							<td class="data1">USD 107</td>
						</tr>
					</table>
				</column>
			</row>
		</div>		
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}