{{% BLOCKS }}
{{< panel}}
	{{$content}}
		<div class="hotel-trans">
			<br>
			<row>
				<column cols="1"></column>
				<column cols="10">
					<row>
						<script>
							var path = "";
							var href = window.location.pathname
							var s = href.split("/");
							for (var i=3;i<(s.length-1);i++) {
								path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
							}
							i=s.length-1;
							path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
							var url = "<p id=bread>" + path+"</p>";
							document.writeln(url);
			 			</script>
					</row>
					<row>
						<column cols="12">
							<a href="/bali/en/travelAgent#hotels"  id="back" ><i class="fa fa-reply"></i> Back</a>
							<button type="button" class="right" onclick="window.location.href='/bali/en/request'">REQUEST / INQUIERE</button>
						</column>
					</row>		
					<row>
						<column cols="8">
							<h1 style="text-align:left;">THE ST.REGIS BALI RESORT</h1>
							<br>
							<a style="color:#C39323;" href="/bali/en/hotel-collection/the-st.-regis-bali-resort" target="_black">go to description page</a>
						</column>
						<column cols="4">
						<br>
							<h2> Address</h2>
							<p>Kawasan Pariwisata, Nusa Dua Lot S6, Nusa Dua, Bali, Indonesia </p>
							<a style="text-decoration:none; color:#C39323;" href="http://www.stregisbali.com/" target="_black">http://www.stregisbali.com/</a>
						</column>
					</row>
					<hr>
					<h2>2016-2017 NETT RATES</h2>
					<table>
						<tr class="main">
							<td class="data1" rowspan="4">CATEGORIES</td>
							<td class="data1" rowspan="4"> <br>MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1">
								HIGH SEASON
							</td>
							<td class="data1">
								PEAK SEASON
							</td>
						</tr>
						<tr class="main"><td class="data1">01/Apr/2016 - 14/Jul/2016</td><td class="data1" rowspan="3">15/Jul/2016 - 26/Sep/2016</td><td class="data1" rowspan="3">28/Dic/2016 - 10/Jan/2017</td></tr>
						<tr class="main"><td class="data1">01/Sep/2016 - 27/Dec/2016</td></tr>
						<tr class="main"><td class="data1">11/Jan/2017 - 31/Mar/2017</td></tr>
						<tr>
							<td class="data1">ST. REGIS SUITE</td>
							<td class="data1">3ADT/ 2ADT & 2CHD</td>
							<td class="data1">USD 497</td>
							<td class="data1">USD 627</td>
							<td class="data1">USD 790</td>
						</tr>
						<tr>
							<td class="data1">ST. REGIS OCEAN VIEW SUTE</td>
							<td class="data1">3ADT/ 2ADT & 2CHD</td>
							<td class="data1">USD 638</td>
							<td class="data1">USD 758</td>
							<td class="data1">USD 921</td>
						</tr>
						<tr>
							<td class="data1">ORCHID SUITE</td>
							<td class="data1">3ADT/ 2ADT & 2CHD</td>
							<td class="data1">USD 660</td>
							<td class="data1">USD 779</td>
							<td class="data1">USD 942</td>
						</tr>
						<tr>
							<td class="data1">ST. REGIS POOL SUITE</td>
							<td class="data1">3ADT/ 2ADT & 2CHD</td>
							<td class="data1">USD 736</td>
							<td class="data1">USD 855</td>
							<td class="data1">USD 1.018</td>
						</tr>
						<tr>
							<td class="data1">GRANDE ASTOR SUITE</td>
							<td class="data1">6ADT/ 4ADT & 2CHD</td>
							<td class="data1">USD 2.073</td>
							<td class="data1">USD 2.181</td>
							<td class="data1">USD 4.953</td>
						</tr>
						<tr>
							<td class="data1">GARDENIA VILLA</td>
							<td class="data1">3ADT/ 2ADT & 2CHD</td>
							<td class="data1">USD 1.035</td>
							<td class="data1">USD 1.219</td>
							<td class="data1">USD 1.600</td>
						</tr>
						<tr>
							<td class="data1">ST. REGIS LAGOON VILLA 1 BEDROOM</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 1.100</td>
							<td class="data1">USD 1.165</td>
							<td class="data1">USD 1.654</td>
						</tr>
						<tr>
							<td class="data1">ST. REGIS LAGOON VILLA 2 BEDROOM</td>
							<td class="data1">6ADT/ 4ADT & 4CHD</td>
							<td class="data1">USD 1.763</td>
							<td class="data1">USD 1.926</td>
							<td class="data1">USD 2.850</td>
						</tr>
						<tr>
							<td class="data1">THE STRAND VILLA</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 1.491</td>
							<td class="data1">USD 1.709</td>
							<td class="data1">USD 2.850</td>
						</tr>
						<tr>
							<td class="data1">THE STRAND RESIDENCE</td>
							<td class="data1">9ADT/ 6ADT & 6CHD</td>
							<td class="data1">USD 4.959</td>
							<td class="data1">USD 6.589</td>
							<td class="data1">USD 9.306</td>
						</tr>
					</table>
					<p class="trans" style="text-align: center;">(Inclusive of 10% service changes & 11% government tax and daily breakfast)</p>
					<h2>CONDITIONS</h2>
					<ul>
						<li>The above rates are quoted in USD dollars. All government fees and services charges are subject to changes without prior notice.</li>				
						<li>Rates quote apply to single or double occupancy are inclusive of buffet breakfast for 2 people per bedroom per night.</li>				
						<li>Extra bed will be quoted $104 net per bedroom, breakfast included. Baby cot is complimentary</li>				
						<li>Children Policy: Breakfast for children (4-11.99 years old) will be charged at USD 16 per child if sharing a room with parents using existing bedding. Children 0-3.99 years old will be provided complimentary meals when accompanying an adult who is having a full paying meal.</li>			
						<li>*No check out is allowed on 31/Dec/16 and 1/Jan/17</li>				
					</ul>
					<h2>OFFERS</h2>
					<p class="trans"><b>Bonus Night Offer:</b> Stay 7/Pay6, accumulative based on consecutive nights. Valid for all categories excluding Peak Season (28/Dec/16 - 10/Jan/17). Applies to room and extra bed</p>				
					<p class="trans"><b>Bonus Night for Villa Categories:</b> Stay 5/Pay4, accumulative based on consecutive nights. Valid during Low Season, excluding High & Peak Season. Applies to room and extra bed</p>				
					<p class="trans"><b>Early Bird Offer:</b> To book within 60 days prior to arrival valid all year round excluding Peak Season, get 10% discount of the room rate/ extra bed and Half Board/Full Board. Valid for all categories.</p>				
		

					<h2>VALUE ADD</h2>
					<p class="trans"><b>Standard Benefits:</b></p>
					<ul>
						<li>24 hours butler service on call</li>
						<li>Unpacking and packing of luggage service (on request) by Butler</li>
						<li>Daily Buffet Breakfast</li>
						<li>Complimentary 2 pieces of light pressing service daily per person by the Butler</li>
						<li>Refreshing welcome cocktail upon arrival</li>
						<li>Selection of tropical fresh fruits - Replenished daily</li>
						<li>Unlimited still mineral water in all suites/villas</li>
						<li>24-hour freshly brewed coffee or tea served in all suites/villas</li>
						<li>Exclusively imported bathroom amenities in all suites/villas</li>
						<li>Wi-Fi in-room and hotel common areas</li>
						<li>Cross charging facility between The St. Regis Bali Resort and The Laguna, a Luxury Collection Resort & Spa Nusa Due Bali</li>
					</ul>
					<p class="trans"><b>Honeymooners:</b></p>
					<ul>
						<li>Romantic flower bath with honeymoon amenities prepared by the Butler</li>
						<li>One sumptuous breakfast served in Suites or Villas per stay</li>
						<li>The St. Regis Bali Resort honeymoon gift per room per stay</li>
						<li>*Above benefits are subject to change without prior notice.</li>
					</ul>
					<p class="trans"><b>Long Stay Benefits</b></p>
					<ul>
						<li>Minimum stay of 5 nights will receive one time buffet dinner ( or equivalent 3 course menu) for 2 persons per room</li>
						<li>Minimum stay of 7 nights will receive additional 60 minutes Balinese Massage and a 60 minutes Aqua Vitale pool treatment valid for 2 persons per room</li>
						<li>*Valid excluding peak season</li>
					</ul>
					<h2>MEAL PÔLICY</h2>
					<table>
						<tr class="main">
							<td class="data1" >Meal Period</td>
							<td class="data1" >Menu</td>
							<td class="data1" >
								0-3.99 years
							</td>
							<td class="data1">
								4-11.99 years
							</td>
							<td class="data1">
								Over 12 years
							</td>
						</tr>
						<tr>
							<td class="data1">Lunch</td>
							<td class="data1">3 course degustation menu</td>
							<td class="data1">Complimentary</td>
							<td class="data1">USD 19</td>
							<td class="data1">USD 53</td>
						</tr>
						<tr>
							<td class="data1">Dinner</td>
							<td class="data1">4 course degustation menu</td>
							<td class="data1">Complimentary</td>
							<td class="data1">USD 19</td>
							<td class="data1">USD 98</td>
						</tr>
						<tr>
							<td class="data1">Dinner</td>
							<td class="data1">Buffet dinner</td>
							<td class="data1">Complimentary</td>
							<td class="data1">USD 19</td>
							<td class="data1">USD 77</td>
						</tr>

					</table>

					<h2>ST. REGIS BUTLER SERVICE</h2>
					<ul>
						<li>24 hours Regular Butler Service will be available on an on-call basis free of charge</li>			
						<li>Personalized 12-hours or 24-hour Butler Service during the day, residing in the Villa as the following additional charges:</li>			
					</ul>
					<table>
						<tr>
							<td class="data1">12 hours</td>
							<td class="data1">USD 120.00</td>
						</tr>
						<tr>
							<td class="data1">24 hours</td>
							<td class="data1">USD 180.00</td>
						</tr>

					</table>
				</column>
			</row>
		</div>		
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}