{{% BLOCKS }}
{{< panel}}
	{{$content}}
		<div class="hotel-trans">
			<br>
			<row>
				<column cols="1"></column>
				<column cols="10">
					<row>
						<script>
							var path = "";
							var href = window.location.pathname
							var s = href.split("/");
							for (var i=3;i<(s.length-1);i++) {
								path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
							}
							i=s.length-1;
							path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
							var url = "<p id=bread>" + path+"</p>";
							document.writeln(url);
		
				</script>
					</row>
					<row>
						<column cols="12">
							<a href="/bali/en/travelAgent#hotels"  id="back" ><i class="fa fa-reply"></i> Back</a>
							<button type="button" class="right" onclick="window.location.href='/bali/en/request'">REQUEST / INQUIERE</button>
						</column>
					</row>	
					<row>
						<column cols="8">
							<h1 style="text-align:left;">ALILA VILLAS ULUWATU</h1>
							<br>
							<a style="color:#C39323;" href="/bali/en/hotel-collection/alila-villas-uluwatu" target="_black">go to description page</a>
						</column>
						<column cols="4">
						<br>
							<h2> Address</h2>
							<p>Jalan Goa Lempeh, Banjar Dinas Kangin, Uluwatu, Kabupaten Badung, Bali, Indonesia </p>
							<a style="text-decoration:none; color:#C39323;" href="http://www.alilahotels.com/uluwatu/" target="_black">http://www.alilahotels.com/uluwatu/</a>
						</column>
					</row>
					<hr>
					<h2>2016-2017 NETT RATES</h2>
					<table>
						<tr class="main">
							<td class="data1" rowspan="4">CATEGORIES</td>
							<td class="data1" rowspan="4">MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1" rowspan="3">
								HIGH SEASON
							</td>
							<td class="data1" rowspan="3">
								PEAK SEASON
							</td>
						</tr>
						<tr class="main">
							<td >01/Jan/2016 - 15/Jul/2016</td>
						</tr>
						<tr class="main">
							<td >16/Sep/2016 - 19/Dec/2016</td>
						</tr>
						<tr class="main">
							<td >06/Jan/2017 - 31/Mar/2017</td>
							<td >16/Jul/2016 - 15/Sep/2016</td>
							<td >20/Dec/2016 - 05/Jan/2017</td>
						</tr>
						<tr>
							<td class="data1">ONE BEDROOM POOL VILLA</td>
							<td class="data1">3ADT/ 2ADT & 1CHD</td>
							<td class="data1">USD 763</td>
							<td class="data1">USD 839</td>
							<td class="data1">USD 877</td>
						</tr>
							<td class="data1">THREE BEDROOM HILLSIDE VILLA</td>
							<td class="data1">9ADT / 6ADT & 3CHD</td>
							<td class="data1">USD 2,904</td>
							<td class="data1">USD 3,143</td>
							<td class="data1">USD 3,285</td>
						</tr>
							<td class="data1">THREE BEDROOM CLIFFSIDE VILLA</td>
							<td class="data1">9ADT / 6ADT & 3CHD</td>
							<td class="data1">USD 2,904</td>
							<td class="data1">USD 3,143</td>
							<td class="data1">USD 3,285</td>
						</tr>
					</table>
					<h2>CONDITIONS</h2>
					<ul>
						<li>The above rates are quoted in USD dollars. All government fees and services charges are subject to changes without prior notice.</li>
						<li>Rates quote apply to single or double occupancy, are inclusive of a la carte breakfast for 2 (two) persons when guests staying at One-bedroom Villa and a maximum of 6 (six) persons when guests staying at Three-bedroom Villa, per room per night.</li>
						<li>Extra bed: is only available for villa categories, child at US$ 39 nett per night and for adult at US$ 55 net per night, rate is inclusive of 11% government tax, 10% service charge and breakfast for one person. Limited to a maximum of one extra bed per villa. Cots are provided at no cost to a maximum of one cot per room."</li>
						<li>Children Policy: Accommodation is free of charge for children from 1 - 11.9 years of age (to a maximum of 1 child or 1 infant per room) sharing the same room with parents and using existing bedding. Should additional bedding be required extra bed rates will apply. 50% discount on all contracted meal will apply for children from 4 to 11.9 years of age. A child below 4 years of age dines for free, when accompanied by paying adults.</li>
					</ul>
					<h2>OFFERS</h2>
						<p class="trans">Gift to Share (Bonus Night): Offers a complimentary night’s stay for every four-night booked as a gift to guests. Guests are encouraged to donate any amount of their choice in place of the complimentary room to support their preferred local community or environmental project instigated by the resort. Valid for minimum of five-night stay (Stay 5 Pay 4), up to multiple of two complimentary night’s maximum (Stay 10 Pay 8); for guests staying in between 1/Apr/2016 - 15/Jul/2016, between 16/Sep/2016 - 19/Dec/2016 and between 6/Jan/2017 - 31/Mar/2017. Not combinable with Early Bird.
						</p><br><p class="trans">Early Bird Offer: For all reservations made 90 days before arrival date, enjoy 20% discount from contracted rates, for reservation made 60 days before arrival date, enjoy 15% discount from contracted rates and for reservation made 45 days before arrival date, enjoy 10% discount from contracted rates. Not apply guests name changed for all reservations made. Valid throughout contract period from 1 April 2016 till 31 March 2017. Applicable only for rooms and extra bed, but not applicable for any meals plan."
						</p><br><p class="trans">Twin Sensations: Guests combining a stay at the two Alila Villas (Uluwatu and Soori), with a minimum two-night stay in each resort, will enjoy complimentary return airport transfers, inter-hotel transfer and the additional privilege of a designer picnic lunch served in route between the resorts accompanied by a personal butler.
						</p><br><p class="trans">Long Stay Offer: with a 7-night minimum stay, each guest will receive one of the additional privileges: Private Dining  for two or Spa for two
						</p>
					<h2>VALUE ADD</h2>
					<p class="trans"><b>Alila Welcome</b></p><br>
					<p class="trans">An Alila Villas welcome package comprising of beach bag and custom-designed his and her hat developed exclusively for Alila Villas Uluwatu</p><br>
					<p class="trans"><b>Alila Hospitalities</b></p>
					<ul>
						<li>WI-FI access in the villas and all public areas</li>
						<li>Complimentary lifestyle experiences based on a weekly schedule of yoga.</li>
					</ul>
					<p class="trans"><b>Honeymooners:</b></p>
					<ul>
						<li>Guests celebrating their wedding anniversary or honeymoon will enjoy additional privileges:</li>
						<li>Romantic drawn bath </li>
						<li>Scented candles</li>
						<li>A special selection of Alila room amenities placed in the villa prior to arrival.</li>
					</ul>
				</column>
			</row>
		</div>		
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}