{{% BLOCKS }}
{{< panel}}
	{{$content}}
		<div class="hotel-trans">
			<br>
			<row>
				<column cols="1"></column>
				<column cols="10">
					<row>
						<script>
							var path = "";
							var href = window.location.pathname
							var s = href.split("/");
							for (var i=3;i<(s.length-1);i++) {
								path+="<A HREF=\""+href.substring(0,href.indexOf("/"+s[i])+s[i].length+1)+"/\">"+s[i]+"</A> / ";
							}
							i=s.length-1;
							path+="<A HREF=\""+href.substring(0,href.indexOf(s[i])+s[i].length)+"\">"+s[i]+"</A>";
							var url = "<p id=bread>" + path+"</p>";
							document.writeln(url);
			 			</script>
					</row>
					<row>
						<column cols="12">
							<a href="/bali/en/travelAgent#hotels"  id="back" ><i class="fa fa-reply"></i> Back</a>
							<button type="button" class="right" onclick="window.location.href='/bali/en/request'">REQUEST / INQUIERE</button>
						</column>
					</row>		
					<row>
						<column cols="8">
							<h1 style="text-align:left;">BVLGARI BALI</h1>
							<br>
							<a style="color:#C39323;" href="/bali/en/hotel-collection/bvlgari-bali" target="_black">go to description page</a>
						</column>
						<column cols="4">
						<br>
							<h2> Address</h2>
							<p>Jalan Goa Lempeh, Banjar Dinas Kangin, Uluwatu, Kabupaten Badung, Bali, Indonesia </p>
							<a style="text-decoration:none; color:#C39323;" href="http://www.bulgarihotels.com/en-us/bali/the-resort/overview" target="_black">http://www.bulgarihotels.com/en-us/bali/the-resort/overview</a>
						</column>
					</row>
					<hr>
					<h2>2016-2017 NETT RATES</h2>
					<table>
						<tr class="main">
							<td class="data1" rowspan="5">CATEGORIES</td>
							<td class="data1" rowspan="5">MAX OCUPANCY</td>
							<td class="data1" >
								LOW SEASON
							</td>
							<td class="data1" rowspan="3">
								HIGH SEASON
							</td>
							<td class="data1" rowspan="4">
								PEAK SEASON
							</td>
						</tr>
						<tr class="main">
							<td class="data1">01/Apr/2016 - 31/Jul/2016</td>
						</tr>
						<tr class="main">
							<td class="data1">01/Sep/2016 - 20/Dec/2016</td>
						</tr>
						<tr class="main">
							<td class="data1">06/Jan/2017 - 26/Jan/2017</td>
							<td class="data1">01/Ago/2016 - 31/Aug/2016</td>
						</tr>
						<tr class="main">
							<td class="data1">06/Feb/2017 - 31/Mar/2017</td>
							<td class="data1">27/Jan/2017 - 5/Feb/2017</td>
							<td class="data1">21/Dec/2016 - 05/Jan/2017</td>
						</tr>
						<tr>
							<td class="data1">OCEAN VIEW VILLA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 980</td>
							<td class="data1">USD 1,089</td>
							<td class="data1">USD 1,198</td>
						</tr>
						<tr>
							<td class="data1">PREMIER OCEAN VIEW VILLA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 1,089</td>
							<td class="data1">USD 1,198</td>
							<td class="data1">USD 1,306</td>
						</tr>
						<tr>
							<td class="data1">OCEAN CLIFF VILLA</td>
							<td class="data1">2ADT & 1CHD</td>
							<td class="data1">USD 1,388</td>
							<td class="data1">USD 1,497</td>
							<td class="data1">USD 1,605</td>
						</tr>
						<tr>
							<td class="data1">2BR OCEAN VIEW VILLA</td>
							<td class="data1">4ADT & 2CHD</td>
							<td class="data1">USD 1,687</td>
							<td class="data1">USD 1,796</td>
							<td class="data1">USD 1,904</td>
						</tr>
						<tr>
							<td class="data1">2BR OCEAN CLIFF VILLA</td>
							<td class="data1">4ADT & 2CHD</td>
							<td class="data1">USD 2,067</td>
							<td class="data1">USD 2,176</td>
							<td class="data1">USD 2,285</td>
						</tr>
						<tr>
							<td class="data1">BULGARI VILLA</td>
							<td class="data1">4ADT & 2CHD</td>
							<td class="data1">USD 7,719</td>
							<td class="data1">USD 7,828</td>
							<td class="data1">USD 7,937</td>
						</tr>
						<tr>
							<td class="data1">THE MANSION 3 BR</td>
							<td class="data1">6ADT & 3CHD</td>
							<td class="data1">USD 7,937</td>
							<td class="data1">USD 8,046</td>
							<td class="data1">USD 8,154</td>
						</tr>
						<tr>
							<td class="data1">THE MANSION 5 BR VILLA TYPE 1</td>
							<td class="data1">10ADT & 5CHD</td>
							<td class="data1">USD 8,480</td>
							<td class="data1">USD 8,589</td>
							<td class="data1">USD 8,698</td>
						</tr>
						<tr>
							<td class="data1">THE MANSION 5 BR VILLA TYPE 2</td>
							<td class="data1">10ADT & 5CHD</td>
							<td class="data1">USD 8,915</td>
							<td class="data1">USD 9,024</td>
							<td class="data1">USD 9,133</td>
						</tr>
					</table>
					<h2>CONDITIONS</h2>
					<ul>
						<li>The above rates are quoted in USD dollars. All government fees and services charges are subject to changes without prior notice.</li>
						<li>Rates quote apply to single or double occupancy are inclusive of breakfast for 2 people per villa per night.</li>
						<li>Due to limited space an extra bed is not permitted inside one bedroom Villas. However, in the case of special circumstances this might be waived – subject to the approval of the guests and acknowledgement of the limited space in the Villa. Rollaway beds for children are provided at a cost of USD 149 net per night, per bed including breakfast, tax and service in king-bedded Villas only, with a maximum of one rollaway bed per Villa. Rollaway beds for adults will be provided at a cost of USD 172 net per night per bed including breakfast, tax and service in king bedded Villas only. Fire safety codes do not permit rollaway service in rooms with two double beds and are subject to availability. Cribs are complimentary and must be requested prior to arrival and are subject to availability.</li>
						<li>Children Policy: Children under 5 (five) years of age are complimentary in their parent’s room, when utilizing existing bedding.</li>
						
						<li style="list-style-type:none;">*Minimum of 3 Consecutive nights – stay applies for Peak Season of 27 December 2016 to 5 January 2017.</li>
						<li style="list-style-type:none;">*No departure allowed on 31 December 2016."</li>
						<li style="list-style-type:none;">*Special conditions apply for the Two Bedroom Villa and The BVLGARI Villa (4 adults, 2 children).</li>
					</ul>
					<h2>OFFERS</h2>
					<p class="trans"><b>Special Offer</b>: Special rate for Ocean View One Bedroom Villa of USD 899 per villa per night, including tax, services and breakfast for two. Valid for staying between 01/Apr/16 - 30/Jun/16</p><br>
					<h2>VALUE ADD</h2>
					<p class="trans"><b>Exclusive amenities</b></p>
					<ul>
						<li>‘Herbojito’ cocktail upon arrival (non-alcohol) and cold towels</li>
						<li>Welcome amenity (Balinese sweets/cake)</li>
						<li>Daily serving of exotic Indonesia fruits</li>
						<li>Daily changing evening turn-down amenity</li>
						<li>24 hours butler service</li>
						<li>Packing and unpacking service</li>
						<li>Bulgari bathroom amenities (hand-soap, shower gel, shampoo, conditioner, body lotion)</li>
						<li>1 (one) beach bag set</li>
						<li>2 (two) pairs of slippers</li>
						<li>Complimentary internet access throughout the resort</li>
						<li>Complimentary pool amenities (items are vary from non-alcoholic tropical drinks to canapés, served intermittently throughout the day from 12noon to 5 pm)</li>
						<li>Daily Complimentary Italian and Indonesian canapés (appetitive) during sunset at The Bar</li>
						<li>Complimentary use of the gym</li>
						<li>Complimentary Breakfast for Children up to 5 (five) years-old</li>
					</ul>
					<p class="trans"><b>Honeymooners:</b></p>
					<ul>
						<li>All amenities as above with additional complimentary Flower Bath upon arrival and Honeymoon pastry (set up at turndown on the first night of arrival).</li>
					</ul>
				</column>
			</row>
		</div>		
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}