{{% BLOCKS }}
{{< panel}}
	{{$content}}		
		<row>
			<column cols="1"></column>
			<column cols="10">
				<row>
					<column cols="8">
						<h2>FOUR SEASONS RESORT BALI AT SAYAN</h2>
						<br>
						<a href="javascript:void(0)">go to description page</a>
					</column>
					<column cols="4">
						<h2> Address</h2>
						<p>Jimbaran, South Kuta, Badung Regency, Bali, Indonesia</p>
						<a href="http://www.fourseasons.com/jimbaranbay/">http://www.fourseasons.com/jimbaranbay/</a>
					</column>
				</row>
				<hr>
				<h2>2016-2017 NETT RATES</h2>
				<table>
					<tr class="main">
						<td class="data"> <br>CATEGORIES</td>
						<td class="data"> <br>MAX OCUPANCY</td>
						<td class="data">
							LOW SEASON<br>
							01/Apr/2016 - 14/Jul/2016<br>
							01/Sep/2016 - 23/Dec/2016<br>
							06/Jan/2017 - 31/Mar/2017
						</td>
						<td class="data">
							<br>HIGH SEASON<br>
							15/Jul/2016 - 31/Aug/2016
						</td>
						<td class="data">
							<br>PEAK SEASON<br>
							24/Dec/2016 - 05/Jan/2017
						</td>
					</tr>
					<tr>
						<td class="data">ONE-BEDROOM DUPLEX SUITE</td>
						<td class="data">3ADT/ 2ADT & 1CHD</td>
						<td class="data">USD 589</td>
						<td class="data">USD 654 </td>
						<td class="data"> USD 801</td>
					</tr>
					<tr>
						<td class="data">ONE-BEDROOM SUITE</td>
						<td class="data">3ADT/ 2ADT & 1CHD</td>
						<td class="data">USD 681</td>
						<td class="data">USD 719</td>
						<td class="data"> USD 861</td>
					</tr>
					<tr>
						<td class="data">FAMILY SUITE</td>
						<td class="data">3ADT/ 2ADT & 2CHD</td>
						<td class="data">USD 812</td>
						<td class="data">USD 953</td>
						<td class="data"> USD 1,100</td>
					</tr>
					<tr>
						<td class="data">ONE-BEDROOM VILLA</td>
						<td class="data">3ADT/ 2ADT & 1CHD</td>
						<td class="data">USD 812</td>
						<td class="data">USD 953</td>
						<td class="data"> USD 1,100</td>
					</tr>
					<tr>
						<td class="data">RIVER FRONT ONE-BEDROOM VILLA</td>
						<td class="data">3ADT/ 2ADT & 1CHD</td>
						<td class="data">USD 969</td>
						<td class="data">USD 1,100</td>
						<td class="data"> USD 1,247</td>
					</tr>
					<tr>
						<td class="data">SAYAN VILLA</td>
						<td class="data">3ADT/ 2ADT & 1CHD</td>
						<td class="data">USD 969</td>
						<td class="data">USD 1,100</td>
						<td class="data"> USD 1,247</td>
					</tr>
					<tr>
						<td class="data">2-BEDROOM VILLA</td>
						<td class="data">6ADT/ 4ADT & 2CHD</td>
						<td class="data">USD 2,133</td>
						<td class="data">USD 2,437</td>
						<td class="data">USD 2,855 </td>
					</tr>
					<tr>
						<td class="data">RIVER VIEW TWO-BEDROOM VILLA</td>
						<td class="data">6ADT/ 4ADT & 2CHD</td>
						<td class="data">USD 2,372</td>
						<td class="data">USD 2,839</td>
						<td class="data">USD 3,258 </td>
					</tr>
					<tr>
						<td class="data">ROYAL VILLA (3-BEDROOM)</td>
						<td class="data">9ADT/ 6ADT & 3CHD</td>
						<td class="data">USD 3,492</td>
						<td class="data">USD 3,942</td>
						<td class="data">USD 4,403 </td>
					</tr>
				</table>								
			</column>
		</row>		
	{{/content}}
	{{$ scripts}}
		
    {{/ scripts}}
{{/ panel}}